<!--<h4>Contact details</h4>-->
<ul class="list-inline social-buttons hidden-print">
    {{ with .Params.email }}
    <li>
        <a href="mailto:{{ . | safeHTML }}" target="_blank"><i class="fa fa-envelope"></i></a>
    </li>
    {{ end }}
    {{ with .Params.website }}
    <li>
        <a href="{{ . }}" target="_blank"><i class="fa fa-location-arrow"></i></a>
    </li>
    {{ end }}
    {{ with .Params.twitter }}
    <li>
        <a href="https://twitter.com/{{ . }}" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    {{ end }}
    {{ with .Params.linkedin }}
    <li>
        <a href="https://linkedin.com/in/{{ . }}" target="_blank"><i class="fa fa-linkedin"></i></a>
    </li>
    {{ end }}
    {{ with .Params.facebook }}
    <li>
        <a href="https://facebook.com/{{ . }}" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    {{ end }}
</ul>