{{ $title           := .Params.title }}
{{ $site_Pages      := where .Site.Pages ".Params.type" "!=" "outcome" }}
{{ $.Scratch.Delete "pages" }}

<h3>{{ $title }} Daily Schedule </h3>


{{ range $site_Pages }}

    {{ $page := .}}

    {{ if eq (printf "%T" .Params.organizers) "[]string" }}
        {{ range  .Params.organizers}}
            {{ if eq . $title }}
                {{ $.Scratch.Add "pages" (slice $page) }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ if in $title .Params.organizers }}
            {{ $.Scratch.Add "pages" (slice $page) }}
        {{ end }}
    {{end }}

    {{ if eq (printf "%T" .Params.participants) "[]string" }}
        {{ range  .Params.participants}}
            {{ if eq . $title }}
                {{ $.Scratch.Add "pages" (slice $page) }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ if in $title .Params.participants }}
            {{ $.Scratch.Add "pages" (slice $page) }}
        {{ end }}
    {{end }}

    {{ if eq (printf "%T" .Params.sessions) "[]string" }}
      {{ if in .Params.sessions $title }}                    {{/* add current user's sessions */}}
          {{ $.Scratch.Add "pages" (slice $page) }}
      {{ end }}
    {{ end }}

    {{ if eq (printf "%T" .Params.invited) "[]string" }}           {{/* map invited */}}
        {{ range .Params.invited }}
            {{if eq $.Params.title . }}
                {{ $.Scratch.Add "pages" (slice $page) }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if eq .Params.type "team" }}
        {{ if in .Params.members $title }}
            {{ $matches := where (where $site_Pages ".Params.title" "in" .Params.sessions) ".Params.type" "!=" "outcome" }}
            {{ range $matches }}
                {{ $.Scratch.Add "pages" (slice .) }}
            {{ end }}

        {{ end }}
    {{ end }}

{{ end }}


{{ if .Params.tracks }}
    <div class="subscribed-to-tracks">
        {{ range .Params.tracks }}
            {{ $track_pages := (where $site_Pages ".Params.track" . )}}
            <div class="subscribed-to-track">Subscribed to track <span class="badge">{{ . }}</span> which has {{ len $track_pages }} sessions </div>
            {{ range  $track_pages}}
                {{ $.Scratch.Add "pages" (slice .) }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}

{{ range .Params.sessions }}
    {{ $matches := (where $site_Pages ".Params.title" . ) }}
    {{ if $matches }}
        {{ $.Scratch.Add "pages" (slice (index $matches 0)) }}
    {{ end }}
{{ end }}

{{ $pages := .Scratch.Get "pages" }}
{{ $week_one_days := .Site.Data.schedule.days.week_one}}
{{ $week_two_days := .Site.Data.schedule.days.week_two}}
{{ $summit_days   := .Site.Data.schedule.days.summit}}

{{ $title := "Training - week one (1st - 5th June)" }}
{{ partial "schedule/table/table.html" (dict "self" . "pages" $pages "valid_days" $week_one_days "title" $title )}}

{{ $title := "Training - week two (8th - 12th June)" }}
{{ partial "schedule/table/table.html" (dict "self" . "pages" $pages "valid_days" $week_two_days "title" $title )}}

{{ $title := "Summit Week (15th - 19th June)" }}
{{ partial "schedule/table/table.html" (dict "self" . "pages" $pages "valid_days" $summit_days   "title" $title )}}
