<div class="hidden-print">
    <h3> Participating sessions details</h3>

    {{ $name  := .Params.title}}

    <table class="table_section">
        <thead>
            <tr>
                <th class="col-title">Title</th>
                <th>Description</th>
                <th>type</th>
                <th>When</th>
                <th>Time</th>
                <th>Acting as</th>
            </tr>
        </thead>
        {{ partial "participant/session-row-by-page.html"   (dict "this" . "name"   .Params.title "field" "organizers"  ) }}
        {{ partial "participant/session-row-by-page.html"   (dict "this" . "name"   .Params.title "field" "participants") }}
        {{ partial "participant/session-row-by-titles.html" (dict "this" . "titles" .Params.sessions                  ) }}
    </table>
</div>
