{{ $scratch := newScratch }}

{{ range where .this.Site.Pages ".Params.type" "!=" "outcome" }}
    {{if in (index .Params $.field) $.name }}
        {{ $scratch.Add "pages" (slice .) }}
    {{ end }}

    {{ if and (eq .Params.type "team") (in .Params.members $.name) }}
        {{ range .Params.sessions }}
          {{ $session := index (where (where $.this.Site.Pages ".Params.title" .) ".Params.type" "!=" "outcome") 0 }}
          {{ $scratch.Add "pages" (slice $session) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $all_sessions := $scratch.Get "pages" }}

{{ range $all_sessions }}
<tr>
    <td><a href="{{.Permalink}}">{{.Params.title}}</a></td>
    <td>{{ .Params.description }}</td>
    <td>{{ .Params.type }}</td>
    <td>{{ .Params.when_day }}</td>
    <td>{{ .Params.when_time }}</td>
    {{ with (eq $.field "organizers")   }}<td> <span class="label label-primary">organiser  </span> </td> {{ end }}
    {{ with (eq $.field "participants") }}<td> <span class="label label-success">participant</span> </td> {{ end }}
</tr>
{{ end }}
