<div class="clues hidden-print">
   <ul class="visual-clues">
     {{ if eq .Params.locked true }}
        <li><a><i class="fa fa-lock"></i></a></li>
     {{ end}}
     {{ if eq .Params.type "track" }}
     <li><a href="/tracks/"><i class="fa fa-user-circle"></i>tracks</a></li>
     {{ end }}
    {{ if eq .Params.type "user-session" }}
        <li><a href="{{ ref . "/faq/session-types.md#user-session" }}"><i class="fa fa-user-circle"></i> user session </a></li>
    {{ end }}
    {{ if eq .Params.type "working-session" }}
        <li><a href="{{ ref . "/faq/session-types.md" }}"><i class="fa fa-wrench"></i> working session </a></li>
    {{ end }}
    {{ if eq .Params.type "product-session" }}
        <li><a href="{{ ref . "/faq/session-types.md#product-session" }}"><i class="fa fa-dollar"></i> product session </a></li>
     {{ end }}
    {{ if eq .Params.status "featured" }}
        <li><a class="bg-success" href=""><i class="fa fa-check-square-o"></i> featured </a></li>
    {{ end }}
    {{ if eq .Params.status "draft" }}
        <li><a class="bg-danger" href="{{ ref . "/faq/session-types.md#draft-status" }}"><i class="fa fa-info"></i> draft </a></li>
    {{ end }}

    {{ with .Params.organizers }}
    {{ else }}
        <li><a  class="bg-danger" href="{{ ref . "/faq/Organisers-duties.md" }}"><i class="fa fa-exclamation-circle"></i> needs organizer </a></li>
    {{ end }}

 </ul>
</div>
