{{ define "nav" }}
<header class="full-bg background-onedaysummit">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_onedaysummit">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

`<section class="mid_wrap" >
  <div class="container">
      <div class="row ids_session">
        <!-- LEFT COLUMN -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <h1>One Day Summit About<br/><span class="ods_value_accent">Threat Modeling</span>, <span class="ods_value_accent">Wardley Maps</span> and <span class="ods_value_accent">Kubernetes Security</span></h1>

          <!-- Brief description about the one day summit -->
          <div>
            <p>We are still under the impressions from the OS-Summit 2018 while the discussions goes on and on about soe of the topics.</p>
            <p>Some of Us, We are diging under the surface of specific topics and going deeper in research and development of best possible solutions.</p>
            <p>This time we organize one day summit (03/July/2018) on which we will go deeper into the discussions about: <strong>Threat Modeling</strong>, <strong>Wardley Maps</strong> and <strong>Kubernetes Security</strong>.</p>
            <p>Bellow you can find details about the sessions, and if you are interested to <a href="#joinus">join us</a>, we would be glad to be your host.</p>
          </div>

          <h2>The Agenda</h2>
          <!-- List all sessions from sessions.yaml file -->
          {{ range where .Site.Data.onedaysummit.sessions.sessions ".title" "!=" "empty" }}
            {{ if eq .type "session" }}

              <div>
                <h3>{{ .title | upper }}</h3>
                <div class="ods_timeslot">{{ .timeslot }}</div>
                <span class="ods_label">Organizers : </span><span class="ods_Value">{{ .organizers }}</span><br/>
                <span class="ods_label">Participants : </span><span class="ods_Value">{{ .participants }}</span>
                <div class="ods_description">{{ .description }}</div>
              </div>

            {{ else }}

              <div>
                <h3 class="ods_pause">
                  {{ .title | upper }}
                  <i class="{{ .icon }} ods_pause" aria-hidden="true"></i>
                </h3>
                <div class="ods_timeslot ods_pause">{{ .timeslot }}</div>
                <div class="ods_description ods_pause">{{ .description }}</div>
              </div>

            {{ end }}
          {{ end }}

          <h2 id="joinus">Do You Want to Join Us?</h2>
          <div>
              <p>We would be really happy to see you on this one day event.</p>
          </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h2>When <i class="fa fa-calendar-o" aria-hidden="true"></i> and Where <i class="fa fa-map-marker" aria-hidden="true"></i></h2>
          <div style="margin-bottom: 10px;">
            <span class="ods_label">Date : </span>
            <span class="ods_value">03/July/2018, Tuesday</span>
          </div>
          <div>
            <img src="{{ .Site.BaseURL }}/img/onedaysummit-03-july-2018/pbx-gs-office.jpg" class="img-responsive" style="border:1px solid #000;" alt="img"><br/>
            <span class="ods_label">Location : </span>
            <a href="https://www.google.com/maps/place/Metal+Box+Factory/@51.5046323,-0.0992547,17z/data=!3m1!4b1!4m5!3m4!1s0x487604a880fdf15d:0xd32c48c5f13e9072!8m2!3d51.504629!4d-0.097066" target="_blank">Photobox Group Security Office <i class="fa fa-map-marker" aria-hidden="true"></i></a><br/>
            <div class="ods_value">
              Unit 7, Metal Box Factory<br/>
              30 Great Guildford St</span><br/>
              London SE1 0HS, UK
            </div>
          </div>
          <hr>
          <div>
            <h2>What <i class="fa fa-comment" aria-hidden="true"></i></h2>
            <span class="ods_label">Topics : </span><br/>
            <ul>
              <li class="ods_value">Threat Modeling Cookbook Examples <span class="ods_value_accent">(morning)</span></li>
              <li class="ods_value">Wardley Maps <span class="ods_value_accent">(afternoon)</span></li>
              <li class="ods_value">Kubernetes Security <span class="ods_value_accent">(afternoon)</span></li>
            </ul>
          </div>
          <hr>
          <div>
            <h2>Additional Resources <i class="fa fa-book" aria-hidden="true"></i></h2>
            <span class="ods_label">Threat Modeling : </span><br/>
            <ul>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-api-cheatsheet/" target="_blank">API Threat Modeling Cheat Sheet</a></li>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-scale-threat-modeling/" target="_blank">How to Scale Threat Modeling</a></li>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-features-with-questionnaires/" target="_blank">How to Threat Model Features with Questionnaires</a></li>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-website-structure/" target="_blank">Threat Modeling Website Structure</a></li>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-cheatsheets/" target="_blank">Threat model cheat sheets</a></li>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-open/" target="_blank">Threat model track opening session</a></li>
            </ul>
            <span class="ods_label">Wardley Maps : </span><br/>
            <ul>
              <li><a href="https://open-security-summit.org/outcomes/tracks/maps-and-graphs/user-sessions/create-wardley-mappings-for-multiple-security-scenarios/" target="_blank">Create Wardley Maps for Multiple Security Scenarios</a></li>
              <li><a href="https://www.slideshare.net/opensecsummit/wardley-maps-practical-session-2-hour" target="_blank">Wardley Maps: practical session</a></li>
              <li><a href="https://www.slideshare.net/opensecsummit/wardley-maps-sec-15-keynote" target="_blank">Crossing the river by feeling the stones</a></li>
              <li><a href="https://www.slideshare.net/opensecsummit/wardley-maps-cell-bases-structures-for-security" target="_blank">Wardley Maps: Cell Bases structures for Security</a></li>
            </ul>
            <span class="ods_label">Kubernetes Security : </span><br/>
            <ul>
              <li><a href="https://open-security-summit.org/outcomes/tracks/threat-model/working-sessions/tm-docker-kubernetes/" target="_blank">Docker and Kubernetes Threat Modeling Cheat Sheet</a></li>
            </ul>
            All outcomes from the OS-Summit 2018 can be found <a href="/outcomes/" target="_blank">here</a>.
          </div>
        </div>
      </div>
      <div class="row">
      </div>
  </div>
</section>

{{ end }}
