{{ define "nav" }}
<header class="full-bg background-about">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_about">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

`<section class="mid_wrap" >
  <div class="container">
    <div class="about2017_chapter">
        {{ partial "home-after-summit/reactions.html"    . }}

        <h2>Full Photo Gallery</h2>
        <div class="row">
            <div class="col-md-12">
                <p>Let us tell you the story about the <b>Open Security Summit 2018</b> through our photo gallery.</p>
                <p>
                  Significant number of <a href="https://2018.open-security-summit.org/tracks/" target="_black">sessions (from Summit 2018)</a>.
                  Synergy, friendship, cohesion, productivity, learning.
                  Lovely people and remarkable sessions organizers.<br/><br/>
                  Great dynamics and outstanding experience!
                </p>
                <p>Don't forget to check the <a href="https://2018.open-security-summit.org/outcomes/" target="_blank">outcomes (from Summit 2018)</a>.</p>

                <h1>{{ .Content }}</h1>



            </div>
        </div>
    </div>
  </div>
</section>

{{ end }}
