{{ define "nav" }}
<header class="full-bg background-tickets">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_tickets">
  <div class="center_heading">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

<section class="mid_wrap" >

<div class="container">
  <!--<div class="t_rw text-center"><h1>The Open Security Summit has begun!</h1></div>-->
  <!--<div class="t_rw text-center"><h1>Summit 2021 remote tickets are now for sale</h1></div>-->
  <!--<div class="t_rw text-center"><h2>Limited number of Super Early Bird tickets available!</h2></div>-->

  <!--<div class="t_rw text-center"><h2>We have multiple types of tickets available at the Summit, please see below for details.</h2></div>-->

  <div>
    <div class="row">
      <div class="col-sm-8">
        <!--<div class="group_discount ul_bx">-->
          <!--<h3>Group Discount (for the 5 day tickets)</h3>-->
          <!--<ul>-->
            <!--<li>If you buy 5 to 9 tickets you get 10% discount</li>-->
            <!--<li>If you buy more than 10 tickets you get 20% discount</li>-->
          <!--</ul>-->


        <!--</div>-->
        <div class="buy_using ul_bx">
          <h3>We're looking forward to seeing you at the Open Security Summit</h3>
               </div>

        <div class="buy_using ul_bx">
          <h3>Buy using invoice</h3>
          <ul>
            <li>If you want to purchase via an invoice - preventing Eventbrite fees - contact us at <a href="mailto:info@opensecsummit.org" class="link_1">info@opensecsummit.org</a></li>

          </ul>

        </div>

      </div>
      <div class="col-sm-4 text-center"><img src="{{ .Site.BaseURL }}/img/blocks/ticket.png" class="img-responsive"  alt="ticket img"></div>

      <div class="row text-center">
          <div class="col-md-offset-4 col-md-4">
            <div class="oss-card-small-bottom">
            </div>
        </div>
      </div>

    </div>

  </div>


  <a href="https://open-security-summit-2021.heysummit.com/" rel="noopener noreferrer" target="_blank">
    <div class="row text-center">
      <div class="col-md-offset-4 col-md-4">
        <div class="oss-card-small-bottom">
          <button id="eventbrite-widget-modal-trigger-61289312985" type="button" class="btn oss-card-small-button">Buy tickets for
            2021
          </button>
        </div>
      </div>
    </div>
  </a>


</div><!-- container -->

</section>

  {{ end }}
