{{ define "breadcrumbs" }}

<div class="inner_main_title">
  <div class="center_heading">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}


{{ define "content" }}

{{ $tracks := where .Data.Pages ".Params.type" "track" }}

<section class="mid_wrap" >
  <div class="container">
    <div class="t_rw"><h2>Here are the current Tracks (with multiple Working Sessions)</h2></div>

    <div class="track_sec">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="aside_bx">
            <div class="mid_left_menu">
              <ul class="nav nav-tabs">
                {{ range $tracks }}
                <li class="active">
                  <a data-toggle="tab" href="#{{ .title }}">{{ .title | upper }}</a>
                </li>
                {{ end }}
              </ul>
            </div>

            <div class="owasp_summit"><a href="https://2018.open-security-summit.org/tracks/"><span >Open Security Summit 2018</span><br/>
              Check out last year's tracks</a></div>

              <div class="edit_page text-center"><a href="#"><i><img src="{{ .Site.BaseURL }}/img/blocks/edit.png"  alt="img"></i>Edit This Page</a></div>

            </div>

          </div>

          <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="tab-content worksessions">
              {{ range $tracks }}
              {{ $track_name := .Title }}
              <div id="{{ .title }}" class="tab-pane fade in active">
                <div class="content_grd">
                  <p>{{ .description }}</p>
                  <h4 class="t_oswald">Working Sessions <span class="number">3</span></h4>
                  <p>Here are the working sessions that are currently being planned. </p>
                  <div class="table_section">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr><th>Title</th>
                          <th>Track</th>
                          <th>Description</th>
                        </tr></thead>

                        <tbody>
                          {{ $sessions := where (where .Data.Pages ".Params.type" "working-session") ".Params.track" $track_name }}
}}
                          {{ range $sessions }}
                          <tr>
                            <td>
                              <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </td>
                            <td>
                              {{ .track }}
                            </td>
                            <td>
                              {{ .description | truncate 45 }}
                            </td>
                        </tr>
                        {{ end }}
                      </tbody></table>

                    </div>

                    <h4 class="t_oswald">User Sessions <span class="number">1</span></h4>
                    <p>Here are the users sessions that are currently being planned.</p>

                    <div class="table_section">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                          <tr><th >Title</th>
                            <th>Track</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>{{ $sessions := where (where .Data.Pages ".Params.type" "user-session") ".Params.track" $track_name }}
}}
                        {{ range $sessions }}
                        <tr>
                          <td>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                          </td>
                          <td>
                            {{ .track }}
                          </td>
                          <td>
                            {{ .description | truncate 45 }}
                          </td>
                      </tr>
                      {{ end }}
                    </tbody></table>

                    </div>

                    {{ end }}

                    <h4 class="t_oswald">Please Help</h4>
                    <p class="m_b_30"> If you want to be involved please make the changes on GitHub and send a Pull Request with your ideas.
                      <br/>
                      If you feel that there is missing working session that we NEED to have at the Summit, please create it.</p>

                      <h4 class="t_oswald">Metadata</h4>
                      <div class="metadata">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>Organizers</td>
                            <td><a href="/participant/certdev/russ-miles/">Russ Miles</a></td>
                          </tr>
                        </table>


                      </div>

                    </div>

                  </div>

                            {{ end }}
