{{ define "nav" }}
<header class="full-bg background-participants">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_participants">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

<section class="mid_wrap" >

    <div class="container">
      <div class="t_rw">
        {{ .Content }}
      </div>

      <div class="sec_5 ">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-8 ">
            <a href="/participant" class="remote_participant">Onsite participants see <span>here</span></a>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1 text-center">
            <img src="{{ .Site.BaseURL }}/img/blocks/participate.png" class="img-responsive"  alt="img">
          </div>

        </div>
      </div>

      <div class="list_attendees">

        <h2>Current list of Remote Summit attendees</h2>

        <ul>
        {{ range $index, $local := where .Data.Pages ".Params.type" "participant-remote" }}
          {{ if .Params.title }}
            {{ partial "participant/card.html" . }}
          {{ end }}

        {{ if eq (mod $index 6) 0 }}</ul><ul>{{ end }}
        {{ end }}
        </ul>


      </div><!-- list_attendees -->

      <div class="clearfix"></div>
    </div>

</section>

{{ end }}
