{{ define "nav" }}
<header class="full-bg background-teams">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_teams">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}


{{ define "content" }}

<section class="mid_wrap" >

    <div class="featured-ws">
        <div class="container">

            {{ .Content }}

<!--
            <table class="table_section">
                <thead>
                <tr>
                    <th>Team Name</th>
                    <th></th>
                    <th>Team Type</th>
                </tr>
                </thead>
                {{ range .Pages}}
                    {{if ne .Params.hidden true}}
                        <tr>
                            <td><a href="{{.Permalink}}">{{ .Params.title }}</a></td>
                            <td>{{ with .Params.image }}
                                    <img src="{{ . }}" width="150px"/>
                                {{ end }}</td>
                            <td>{{ .Params.team_type }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
            </table>
-->

            <div class="list_team_attendees">

              <h2>Current list of teams attending the Summit</h2>

              <ul>
                {{ range $index, $local := where .Data.Pages ".Params.type" "team" }}

                    {{if ne .Params.hidden true}}
                      {{ partial "teams/card.html" . }}
                    {{ end }}

                {{ if ne $index 0 }}
                  {{ if eq (mod $index 5) 0 }}</ul><ul>{{ end }}
                {{ end }}

                {{ end }}
              </ul>


            </div><!-- list_team_attendees -->

            <div class="clearfix"></div>
        </div>
    </div>

</section>
{{ end}}
