{{ define "nav" }}
<header class="full-bg background-FAQs">

  <div class="dark-mask"></div>
  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_working_sessions">
  <div class="center_heading">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

  <style>
    @media print {
      .schedule-cell b {
        font-size: 30px;  !important;
      }
    }
  </style>
  <div class="participant">
      <div class="participant-main-section">
        <div class="container">
          <div class="hidden-print">
              {{ partial "teams/image.html"                 . }}
            {{ .Content }}
          </div>
        </div>

        {{ partial "teams/members.html"               . }}
        {{ partial "participant/contact-details.html" . }}
        {{ partial "teams/schedule.html"              . }}

      </div>
  </div>
{{ end }}
