{{ $this := .}}
{{ $summit_days := .Site.Data.schedule.days.summit}}
{{ $working_sessions := where $this.Site.Pages ".Params.type" "working-session"  }}
{{ $user_sessions    := where .Site.Pages ".Params.type" "user-session"          }}
{{ $keynotes         := where .Site.Pages ".Params.type" "keynote"               }}
{{ $all_sessions     := union (union $user_sessions $working_sessions) $keynotes }}

{{ $this.Scratch.Delete "sessions" }}

{{ range $all_sessions}}
    {{ if ne .Params.title ""}}
        {{ $this.Scratch.Add "sessions" (slice . )}}
    {{ end }}
{{ end }}
{{ return $this.Scratch.Get "sessions" }}
