{{ $this       := .this                 -}}
{{ $title      := $this.Params.title    -}}
{{ $track      := $this.Params.track    -}}
{{ $time       := index $this.Site.Data.schedule.times $this.Params.when_time -}}
{{ $day        := $this.Params.when_day -}}
{{ $organizers := .organizers           -}}
Join the "{{ $title }}" @opensecsummit session by {{ partial "admin/social/twitter-handles.html" ( dict "this" $this "organizers" $organizers) }}

{{ $day }} {{ $time }} GMT.

All sessions are Free to attend

Register at {{ $this.Permalink }}

#oss2020