{{ define "nav" }}
<header class="full-bg background-schedule">

    <div class="dark-mask"></div>

    {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_working_sessions">
    <div class="center_heading">
        <div class="container">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
</div>

{{ end }}

{{ define "content" }}

<div class="container">
        <br/>
        <div class="t_rw">
            Here the topics current mapped to User, Working and Trainign sessions:
        </div>
    </div>
    <div class="row">
        <div class="col-xs-0"></div>
        <div class="col-xs-12">

            <div _class="topic-cards">
                <ul class="tags">
                    {{ range $index, $value:= (sort .Site.Taxonomies.topics.TaxonomyArray "Name") }}
                        <a id="{{urlize $value.Name }}"><br></a>
                        <br>        <!-- todo find better way to handle links -->
                        <br>        <!-- without this the link to this page will scroll past the title -->
                        <br>
                        <br>
                        <h2>{{ upper (humanize $value.Name) }}</h2>
                        {{ partial "sessions/simple-table-show-all.html" $value.Pages }}

                    {{ end }}

                </ul>
            </div>
        </div>
    </div>



{{ end }}
