<div class="about2017_chapter">
    <h2>Join Us in 2019</h2>
    <div class="row">
        <div class="col-md-4" style="text-align:right;">
            <img src="{{ .Site.BaseURL }}/img/android-chrome-256x256.png" class="img-responsive" alt="img">
        </div>
        <div class="col-md-8">
            <br/>
            <ul>
                <li><a href="/schedule/" target="blank">8 tracks</a></li>
                <li>Covering <a href="/topics/" terget="blank">20+ topics</a></li>
                <li>Location dedicated to the Summit, allowing participants to focus all their energy (<a href="/venue/" target="blank">Woburn Forest Center Parcs, Bedfordshire</a>)</li>
                <li>A range of sessions, including <a href="/working-sessions/" terget="blank">Working Sessions</a>, which focus on collaboration; <a href="/user-sessions/" terget="blank">User Sessions</a>, which look at upskilling and <a href="/product-sessions/" terget="blank">product sessions</a> to provide real-world product insights.</li>
            </ul>

            <p style="font-size:1.5em;">
                <a href="faq/attendee-information/" target="blank">Join us</a> – we are at the Summit venue between 4<sup>th</sup> and 8<sup>th</sup> June.
            </p>
        </div>
    </div>
</div>