<div class="about2017_chapter">
    <h2>What the Community Said</h2>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ .Site.BaseURL }}/img/pages/summit2017_comments.png" class="img-responsive" alt="img">
        </div>
        <div class="col-md-4">
            <br/>People recognize shared values at the Summit and this is always one of the talking points.<br/><br/>
            Just see what previous participants say:<br/><br/>
            <i style="color:#96c25f; font-size:2.0em;">
                <i class="fa fa-quote-left" aria-hidden="true"></i> For what it's worth, I attended the last year. This is a really good conference... one of the best ones I've attended.<i class="fa fa-quote-right" aria-hidden="true"></i>
            </i>
        </div>
    </div>
</div>