<div class="about_sec">
    <div class="row">
        <div class="col-sm-8">

            <p>The Open Security Summit 2019 is focused on the collaboration between Developers and Application Security and organised with the support of the Open Web Application Security Project (OWASP): a worldwide not-for-profit charitable organization
                focused on improving the security of software. Using the same model as the previous OWASP Summits, it will be a 5-day high-energy experience, during which attendees get the chance to work and collaborate intensively. This is not a conference
                with uni-directional presentations. Every thoroughly prepared working session is geared towards a specific Application Security challenge and will be focused on actionable outcomes.</p>

            <p>If you care about Application Security and want to collaborate with the key players in this industry, this is the event to be at. By attending you will develop valuable skills, build key networks, and enhance the profile of our organisation
                globally. During the Summit you will:</P>
            <ul>
                <li>Improve your expertise by meeting leading figures from OWASP, security, development, government agencies and vendor companies</li>
                <li>Bring back action plans by collaborating in working sessions tackling some of the hardest security problems we are facing in 2019</li>
                <li>Learn new skills at hands-on practically-driven sessions, enabling you to return with the knowledge, skills and tools needed to make impactful changes</li>
            </ul>

        </div>
        <div class="col-sm-4"><img src="{{ .Site.BaseURL }}/img/blocks/bio.png" class="img-responsive" alt="img"></div>
    </div>
</div>