<div class="why_attend">
    <h2>Why to attend</h2>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="whyatnd_cl text-center"><i><img src="{{ .Site.BaseURL }}/img/blocks/ic_1.png" class="img-responsive"  alt="img"></i>
                <p>The summit will bring together
                    leading figures from OWASP, security,
                    development, government agencies
                    and vendor companies.</p></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="whyatnd_cl text-center"><i><img src="{{ .Site.BaseURL }}/img/blocks/ic_2.png" class="img-responsive"  alt="img"></i><p>Collaborate in working sessions to
                tackle some of the hardest security
                problems we are facing in {{ .Site.Params.summit_edition }}
                and create actionable solutions.</p></div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="whyatnd_cl text-center"><i><img src="{{ .Site.BaseURL }}/img/blocks/ic_3.png" class="img-responsive"  alt="img"></i><p>Connect with like-minded individuals who are passionate about AppSec, get chatting over the breaks or free time and create new opportunities for future productive cooperation.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="whyatnd_cl text-center"><i><img src="{{ .Site.BaseURL }}/img/blocks/ic_4.png" class="img-responsive"  alt="img"></i><p>Take the advantage of the remote mode of the summit to save on travel costs.</p></div>
        </div>
    </div>
</div>
