{{ partial "widgets/session-clues.html" . }}


<table class="table">
    <tr>
        <th>Speaker</th>
        <td>
            {{ partial "utils/titles-with-link.html" (dict "this" . "name" .Params.title "value" .Params.organizers)   }}
        </td>
    </tr>
    <tr>
        <th>When:</th>
        <td>
            {{ partial "session/when-as-links.html" . }}
        </td>
    </tr>

    {{ partial "session/participants-as-links.html" . }}
    {{ partial "session/invited-as-links.html" . }}
</table>
