<section class="articles-section">
  <div class="container container-xl articles-container">
    <div class="container-centric">
      <div class="section-overtitle">Our blog posts</div>
      <div class="section-title articles-title">News & Articles</div>
    </div>
    <div class="articles-body">
      <div class="articles-card">
        <div class="articles-image"><img src="/img/home/photo-gallery/01.png" alt="blog post 1">
          <div class="articles-info"><span>by </span><span class="articles-author">Layerdrops </span><span>18 Jun, 2020</span>
          </div>
        </div>
        <h2 class="articles-title">lorem</h2>
        <div class="articles-summary">Content here</div>
        <button class="articles-readmore">Read More</button>
      </div>
      <div class="articles-card">
        <div class="articles-image"><img src="/img/home/photo-gallery/02.png" alt="blog post 2">
          <div class="articles-info"><span>by </span><span class="articles-author">Layerdrops </span><span>18 Jun, 2020</span>
          </div>
        </div>
        <h2 class="articles-title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
        <div class="articles-summary">Content here</div>
        <button class="articles-readmore">Read More</button>
      </div>
      <div class="articles-card">
        <div class="articles-image"><img src="/img/home/photo-gallery/03.png" alt="blog post 3">
        </div>
        <div class="articles-info"><span>by </span><span class="articles-author">Layerdrops </span><span>18 Jun, 2020</span>
        </div>
        <h2 class="articles-title">lorem</h2>
        <div
          class="articles-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, laudantium, nesciunt! Commodi cupiditate ducimus ea incidunt perferendis? Aliquid consequatur corporis, incidunt laboriosam, magni maiores nemo quidem repellat sint temporibus vero.
        </div>
        <button class="articles-readmore">Read More</button>
      </div>
    </div>
  </div>
</section>
