<section class="attend-summit-section">
  <div class="container container-xl">
    <div class="attend-block">
      <div class="section-overtitle attend-overtitle">WHY TO ATTEND THE SUMMIT?</div>
      <p  class="section-title attend-title">THE PLACE WHERE THE BEST SECURITY MINDS WORK TOGETHER</p>
      <p class="section-paragraph attend-paragraph">Join us for this unique event where you will connect, learn and collaborate.
      </p>
      <p class="section-paragraph attend-paragraph">
        Not just your usual conference with plenaries and a single stream, the Open Security Summit takes you away from your
        everyday work and immerses you in Working Sessions to collaborate
        and come up with deliverables, and User Sessions to upskill and
        get hand-on experience, as well as plenty of opportunity to
        network with some of the most-skilled professionals in this field.
      </p>
      <div class="attend-hero">
        <img src="https://2019.open-security-summit.org/img/oss2019-group.png"
             alt="Last Summit onsite participants"
            width="900px">
      </div>
    </div>
    <div class="attend-numbers">
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">50+</div>
        <span class="section-overtitle attend-term">organisers</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">15</div>
        <span class="section-overtitle attend-term">days of learning</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">11</div>
        <span class="section-overtitle attend-term">tracks</span></div>
      <div class="attend-card col-xs-6 col-sm-3">
        <div class="attend-number">100+</div>
        <span class="section-overtitle attend-term">sessions</span></div>
    </div>
  </div>
</section>
