<section class="booking-section">
  <div class="container booking-container">
    <div class="booking-blocks">
     <div class="booking-info">
      <h3 class="booking-subtitle booking-subtitle-upper">Time is running out</h3>
      <h2 class="booking-title">Book your ticket</h2>
      <p class="booking-text">Lorem Ipsum has been the industry's standard dummy text ever 
       since the 1500s, when an unknown printer took a galley of type 
       and scrambled it to make a type specimen book.
       </p>
     </div>
      <div class="booking-time">
        <h3 class="booking-subtitle">Time for the next keynote session</h3>
        <div class="booking-time-blocks">
          <div class="booking-time-block">
           <span id="days"></span>
           <p>days</p>
          </div>
         <div class="booking-time-block">
           <span id="hours"></span>
           <p>hours</p>
          </div>
         <div class="booking-time-block">
            <span id="minutes"></span>
            <p>minutes</p>
          </div>
          <div class="booking-time-block">
            <span id="seconds"></span>
            <p>seconds</p>
          </div>
       </div>
       <div class="booking-button">
        <button id="book-now">Book now</button>
      </div>
      </div>
  </div>
</section>

<script>
const countDownDate = new Date("Jun 5, 2021 15:00:00").getTime();

const x = setInterval(function() {
  const now = new Date().getTime();

  const distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("days").innerHTML = days;
  document.getElementById("hours").innerHTML = hours;
  document.getElementById("minutes").innerHTML = minutes;
  document.getElementById("seconds").innerHTML = seconds;

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>