<section class="booking-section">
  <div class="container booking-container">
    <div class="booking-blocks">
     <div class="booking-info">
      <h3 class="booking-subtitle booking-subtitle-upper">Time is running out</h3>
      <h2 class="booking-title">Book your ticket</h2>
      <p class="booking-text">Lorem Ipsum has been the industry's standard dummy text ever 
       since the 1500s, when an unknown printer took a galley of type 
       and scrambled it to make a type specimen book.
       </p>
     </div>
      <div class="booking-time">
        <h3 class="booking-subtitle">Time for the next keynote session</h3>
        <div class="booking-time-blocks">
          <div class="booking-time-block">
           <span>221</span>
           <p>days</p>
          </div>
         <div class="booking-time-block">
           <span>16</span>
           <p>hours</p>
          </div>
         <div class="booking-time-block">
            <span>1</span>
            <p>minutes</p>
          </div>
          <div class="booking-time-block">
            <span>21</span>
            <p>seconds</p>
          </div>
       </div>
       <div class="booking-button">
        <button id="book-now">Book now</button>
      </div>
      </div>
  </div>
</section>
