<section class="hero-section">
  <div class="container hero-block__wrapper">
    <div class="hero-block">
      <div class="hero-title">OPEN SECURITY SUMMIT</div>
      <a href="/black-lives-matter" style="color:white">
        <img src="https://user-images.githubusercontent.com/656739/84130419-29d77580-aa3b-11ea-8434-219f3f860666.png" width="210"/>
      </a>
      <div class="hero-when-where">
        <div class="hero-where">
          <div class="hero-icon"><img src="/img/home/globe.png" alt="globe"/></div>
          Virtual Conference
        </div>
        <div class="hero-when">
          <div class="hero-icon"><img src="/img/home/calendar.png" alt="globe"/></div>
          June 14 to 18, 2021
        </div>
      </div>

    </div>
  </div>
</section>
