<section class="highlights">
  <div class="container container-xxl container-centric">
  <h2 class="section-title">2020 Summit highlights</h2>
  <div class="highlights-block">
    <div class="highlights-card">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/Jane_Frankland.png" class="img-responsive" alt="img">
      <div>
        <h3>Jane Frankland</h3>
        <p>CISO and Risk Management</p>
        <p>21 September, 2020</p>
      </div>
    </div>
    <div  class="highlights-card">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/Mario_Platt.png" class="img-responsive" alt="img">
      <div>
        <h3>Mario Platt</h3>
        <p>OWASP, SAFE as a resource</p>
        <p>22 September, 2020</p>
      </div>
    </div>
    <div  class="highlights-card">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/Simon_Wardley.png" class="img-responsive" alt="img">
      <div>
        <h3>Simon Wardley</h3>
        <p>Wardley Mapping</p>
        <p>23 September, 2020</p>
      </div>
    </div>
    <div  class="highlights-card">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/David_Prince.png" class="img-responsive" alt="img">
      <div>
        <h3>David Prince</h3>
        <p>Cloud Security/Cloud</p>
        <p>24 September, 2020</p>
      </div>
    </div>
  </div>
</div>
</section>
