<section class="information-section">
  <div class="container container-xxl container-centric">
    <div class="information-board">
    <div class="information-weeks">
      <div class="summit">
        <h2>Summit week</h2>
        <div class="blocks">
          <div class="block summit-info">
            <span>60</span>
            <p>Session</p>
          </div>
          <div class="block summit-info">
            <span>516</span>
            <p>Attendees</p>
          </div>
          <div class="block summit-info">
            <span>62</span>
            <p>Speakers</p>
          </div>
        </div>
      </div>
      <div class="training">
        <h2>Training weeks</h2>
        <div class="blocks">
          <div class="block training-info">
            <span>50</span>
            <p>Session</p>
          </div>
          <div class="block training-info">
            <span>722</span>
            <p>Attendees</p>
          </div>
          <div class="block training-info">
            <span>62</span>
            <p>Speakers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="information-twitter">
      <a class="twitter-timeline" data-width="1200" data-height="2000" href="https://twitter.com/opensecsummit?ref_src=twsrc%5Etfw">Tweets by opensecsummit</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  </div>
</section>
