<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h2 class="no-margin">We are back in 2020 for the 6th summer summit! </h2>
        </div>
        <div class="heading custom-border text-center">
            <h2 class="no-margin">Remote between June 15-19</h2>
        </div>
        <div class="heading custom-border text-center">
            <h2 class="no-margin">The place where the best security minds work together </h2>
        </div>

        <p>Join us for this unique event where you will connect, learn and collaborate. Not just your usual conference with plenaries and a single stream, the Open Security Summit takes you away from your everyday work and immerses you in Working Sessions to collaborate and come up with deliverables, and User Sessions to upskill and get hand-on experience, as well as plenty of opportunity to network with some of the most-skilled professionals in this field.</p>

<!--        <div class="col-md-offset-3 col-md-6">-->
<!--            <img class="img-responsive" src="{{ .Site.BaseURL }}/img/pages/summit_properties.png" />-->
<!--        </div>-->

    </div>
</section>
