<div class="photo-gallery-header">
  <h6 class="photo-gallery-overtitle">event album</h6>
  <h2 class="photo-gallery-title">Photo Gallery.</h2>
</div>
<div class="photo-gallery-grid">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/01.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-1">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/02.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-2">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/03.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-3">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/04.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-4">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/05.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-5">
  <img src="{{ .Site.BaseURL }}img/home/photo-gallery/06.png" alt="photo gallery image"
       class="photo-gallery-img photo-gallery-item-6">
</div>
