<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Previous Summits</h1>
        </div>
        <h3>You can find all the amazing outcomes from our 2019 summit <a href="https://2019.open-security-summit.org">here</a></h3>
        <h3>You can find all the amazing outcomes from our 2018 summit <a href="https://2018.open-security-summit.org">here</a></h3>
    </div>

</section>
