<section class="prevsummits-section">
    <div class="container container-xl prevsummits-container">
        <div class="section-title">PREVIOUS SUMMITS</div>
        <div class="prevsummits-buttons">
            <a href="https://2020.open-security-summit.org"><button class="section-button prevsummits-button">2020 SUMMIT</button></a>
            <a href="https://2019.open-security-summit.org"><button class="section-button prevsummits-button">2019 SUMMIT</button></a>
            <a href="https://2018.open-security-summit.org"><button class="section-button prevsummits-button">2018 SUMMIT</button></a>
        </div>
    </div>
</section>
