<section class="section promote-section">
  <div class="container container-xl">
    <div class="swiper-container ">
      <div class="swiper-wrapper">
        {{ range .Site.Data.videos.promote }}
        <div class="swiper-slide">
          <div class="video-item">
            <div class="source" id="promote-{{- .video -}}"></div>
            <div class="words">
              <div class="author">{{- .author -}}</div>
              <div class="description">{{- .description -}}</div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <script>
      let promotePlayers = window.promotePlayers = [];
      let promoteSwiper = window.promoteSwiper = null;
      $(document).ready(function () {
          // create youtube player
          //initialize swiper when document ready
          promoteSwiper = new Swiper('.promote-section .swiper-container', {
              loop: false,
              pagination: {
                  el: '.promote-section .swiper-pagination',
                  clickable: true,
              },
              autoplay: {
                  delay: 30000,
              },
              on: {
                  slideChange: (swiper) => {
                      stopAllPlayers();
                      let player = promotePlayers[swiper.realIndex];
                      if (player.getPlayerState() === YT.PlayerState.PAUSED && !promoteSwiper.autoplay.running) {
                          player.playVideo();
                      }
                  },
              }
          });
      });


      function initPlayer(promoteId) {
          let videoId = promoteId && promoteId.replace('promote-', '');
          promotePlayers.push( new YT.Player(promoteId, {
              width: '100%',
              height: '600',
              videoId: videoId,
              autoplay: false,
              events: {
                  onStateChange: onPlayerStateChange,
              },
          }));
      }

      function initPlayers(query) {
          let playerElements = $.find(query)
          playerElements.forEach( (playerEl) => {
              initPlayer(playerEl.id)
          })
      }

      function onYouTubePlayerAPIReady() {
          initPlayers('.promote-section .source');
      }

      // when video ends
      function onPlayerStateChange(event) {
          const me = event.target;
          const myState = me.getPlayerState();
          if (YT.PlayerState.PLAYING === myState) {
              promoteSwiper.autoplay.stop();
          }
          if (YT.PlayerState.ENDED === myState) {
              // check if any next un-ended videos are available
              let myIndex = -1
              for ( const player of promotePlayers ) {
                  let index = promotePlayers.indexOf(player);
                  if (myIndex < 0) {
                      if (me === player) {
                          myIndex = index;
                      }
                  } else if ( myIndex >= 0 ) {
                      if ( YT.PlayerState.ENDED !== player.getPlayerState()) {
                          promoteSwiper.slideTo(index);
                          player.playVideo();
                          break;
                      }
                  }
              }
          }
      }

      function stopAllPlayers() {
          promotePlayers.forEach((player) => {
              if ( YT.PlayerState.PLAYING === player.getPlayerState()) {
                  player.pauseVideo();
              }
          })
      }
  </script>
</section>
