{{ $today := .Site.Data.schedule.config.today}}
{{ $this  := . }}

{{ $day_sessions := where .Site.Pages ".Params.when_day" $today.key }}

{{ range sort $day_sessions ".Params.when_time"  }}
    {{ if .Params.when_time }}
        {{ if .Params.hey_summit }}
            {{ $this.Scratch.Add "pages" (slice .) }}
        {{ end }}
    {{ end}}
{{ end}}

{{ $sessions := $this.Scratch.Get "pages" }}

<section class="schedule-section">
  <div class="container container-xl">
    <div class="row schedule-day">
      <div class="schedule-header">
<!--        <h6 class="schedule-title">The training sessions have started!</h6>-->
        <div class="booking-book">
          Today at the Summit
        </div>
        <h2 class="schedule-subtitle">{{$today.day}} {{$today.date}} June - Schedule</h2>
      </div>

      <div class="schedule-entries">
        {{ range $session_id, $session := $sessions}}
          {{ if .Params.hey_summit }}
            {{ .Scratch.Set "live" "" }}
            {{ if le $session_id -1 }}
              {{ .Scratch.Set "live" " live-stream" }}
            {{ end }}
            {{ $live_stream_class := .Scratch.Get "live" }}
            {{ $time := index .Site.Data.schedule.times .Params.when_time }}
            {{ $title := .Params.title }}
            {{ $organizers := partial "params/organizers.html" $session }}
            {{ $thumb_class := lower (replace .Params.type " " "-") }}

            <div class="schedule-entry{{ $live_stream_class }}" data-session-time="{{ $time }}" data-link="{{ .Permalink }}">
              <div class="thumb {{ $thumb_class }}">
                <div class="thumb-rotated">
                  <div class="thumb-name">{{ humanize .Params.type}}</div>
                </div>
              </div>
              <div class="body">
                <div class="body-organizers">
                  {{ range $organizers }}
                    {{ if eq (printf "%T"  .) "string" }}
                      <div class="body-organizer"><img src="/img/blocks/avatar.jpg"></div>
                    {{ else if .Permalink }}
                      <a class="body-organizer real" href="{{.Permalink}}"><img src="{{.Params.image}}" alt="{{.Params.title}}"></a>
                    {{end}}
                  {{ end }}
                </div>
                <div class="body-texts">
                  <div class="body-info">
                    <div class="body-time">{{ $time }}</div>
                    {{ partial "home-page/schedule/zoom.html" ( dict "this" . "href" true ) }}
                  </div>

                  <a href="{{.Permalink}}">
                    <div class="body-title">{{ .Params.title }}</div>
                  </a>
                  <div class="body-author">
                    <span>by</span>
                    {{ $how_many := sub (len $organizers) 1 }}
                    {{range $index, $element := $organizers }}
                      {{ if eq (printf "%T"  .) "string" }}
                        {{.}}
                      {{else }}
                        <a class="body-author-link" href="{{.Permalink}}">{{.Params.title}}{{ if lt $index $how_many}},{{ end }}</a>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
