<section class="schedule-section">
  <div class="container container-xl">

    <h3>Recent Summits</h3>
    <ul>
        <li>
            <a href="/sessions/2020/mini-summits/dec">December 2020</a> sessions
        </li>
        <li>
            <a href="/sessions/2021/mini-summits/jan">January 2021</a> sessions
        </li>
        <li>
            <a href="/sessions/2021/mini-summits/mar">March 2021</a> sessions
        </li>
      </b>
    </ul>

    {{ partial "schedule/list/body.html" . }}

  </div>
</section>