<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h2 class="no-margin">OWASP is offering scholarships!</h2>
        </div>

        <p class="lead">The OWASP Foundation has established a $75,000 expense reimbursement fund for OWASP Project members who participate in the Open Security Summit. <br />
        Preferences given to applicants who are contributing to active projects. <br />
        Applications will be accepted through May 15th and grantees will be notified by May 17th.</p>
        <h4>Please <a href="https://owasp.wufoo.com/forms/ztlmgym0i5tyn0/">fill this form to apply</a>.</h4>

    </div>
</section>