<div class="speakers">
  <div class="row">
    <div class="card-description col-md-6">
      <h6 class="speakers-overtitle section-overtitle">Our Session organisers</h6>
      <h2 class="speakers-title section-title">who is participating</h2>

      <div class="section-paragraph">
        All focused on collaboration and learning
      </div>
      <a href="https://open-security-summit-2020.heysummit.com/speakers/">
        <button class="section-button speakers-button">View all speakers</button>
      </a>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/open-security-summit-2020/hRofkrwURS8NvG2GxZ6wLD_square_large.jpg"
           width="277"
           alt="speaker-man" />
      <div class="speaker-speaker">
        <div class="speaker-name">Simon Wardley</div>
        <div class="speaker-description">Wardley Maps inventor</div>
      </div>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/pre-summit-training-sessions/CNEJHnahU7kXmaPzZtdobA_square_large.jpg"
           width="277"
           alt="speaker-woman" />
      <div class="speaker-speaker">
        <div class="speaker-name">Sasha Rosenbaum</div>
        <div class="speaker-description">Product Manager Github</div>
      </div>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/open-security-summit-2020/Sd2AMETx667ZKa3BmWYeH7_square_large.png"
           width="277"
           alt="speaker-woman" />
      <div class="speaker-speaker">
        <div class="speaker-name">Bjoern Kimminich</div>
        <div class="speaker-description">OWASP Juice Shop author</div>
      </div>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/pre-summit-training-sessions/RjNjhLeMkezSpfjkxpjPWS_square_large.JPG"
           width="277"
           alt="speaker-man" />
      <div class="speaker-speaker">
        <div class="speaker-name">Kriti Mohun</div>
        <div class="speaker-description">Check Point Security Engineer</div>
      </div>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/open-security-summit-2020/ftS2ErEq2mtPH6xETjuidH_square_large.png"
           width="277"
           alt="speaker-woman" />
      <div class="speaker-speaker">
        <div class="speaker-name">Tony Richards</div>
        <div class="speaker-description">Security Strategist, vCISO</div>
      </div>
    </div>
    <div class="card-speaker col-md-3">
      <img src="https://s3.amazonaws.com/heysummit-production/media/thumbnails/uploads/events/open-security-summit-2020/3AiAWsEby72ZuWAKmbPWTV_square_large.png"
           width="277"
           alt="speaker-man" />
      <div class="speaker-speaker">
        <div class="speaker-name">Jacqui Taylor</div>
        <div class="speaker-description">Smart City Tsar</div>
      </div>
    </div>
  </div>
</div>
