<div class="speakers">
  <h2 class="speakers-title section-title">Upcoming session</h2>
  <div class="speakers-banner">
    <div class="card-speaker">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/oss_summit_speaker_banner-dinis-cruz-and-patra-vukmirovic.png" class="img-responsive" alt="img">
      <h3>Dinis Cruz | Patra Vukmirovic</h3>
      <p>Glasswall Solutions</p>
    </div>
    <div  class="card-speaker">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/oss_summit_speaker_banner-danny-lopez.png" class="img-responsive" alt="img">
      <h3>Danny Lopez</h3>
      <p>CEO - Glasswall Solutions</p>
    </div>
    <div  class="card-speaker">
      <img src="{{ .Site.BaseURL }}/img/home/speakers/oss_summit_speaker_banner-dinis-cruz-and-adam-leon-smith.png" class="img-responsive" alt="img">
      <h3>Dinis Cruz | Adam Leon Smith</h3>
      <p>Open Security Summit</p>
    </div>
  </div>
</div>
