<section class="summitdates-section">
    <div class="container container-xl summitdates-container">
        <div class="summitdates-block">
            <div class="summitdates-session">TRAINING SESSION</div>
            <div class="summitdates-date">June 1 - June 12</div>
        </div>
        <div class="summitdates-block">
            <div class="summitdates-session">MAIN SUMMIT SESSIONS</div>
            <div class="summitdates-date">June 15 - June 19</div>
        </div>
    </div>
</section>
