    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading custom-border text-center">
                    <h2 class="no-margin">Summit Tracks</h2>
                </div>

                <div class="oss-grid oss-grid--3 tracks-home-page">
                    {{ $tracks := where .Site.Pages ".Params.type" "track" }}

                    {{ range $index, $element := $tracks }}

                    <div class="oss-card">
                      <a href="{{ .Permalink }}">
                        <div class="oss-card-title">
                          <h3>{{ truncate 45 .Title }}</h3>
                        </div>
                      </a>
                      <div class="oss-card-small-body">
                        <p class="lead oss-card-lead">{{ .Params.description }}</p>
                        <div class="card-clues">
                          <ul class="visual-clues">
                            <li><a class="bg-success" href=""><i class="fa fa-check-square-o"></i> featured sessions </a></li>
                          </ul>
                        </div>
                        <div class="featured">
                          <ul class="featured">
                          {{ $featured_sessions := where (where (where .Site.Pages ".Params.track" .Title) ".Params.type" "!=" "outcome" ) ".Params.featured" "eq" true }}
                          {{ range $featured_sessions }}
                            <li class="featured"><a href="{{.Permalink}}"> {{.Params.title}}</a></li>
                          {{ end }}
                          </ul>
                        </div>
                      </div>
                      {{ if gt (len $featured_sessions) 0 }}
                        <div class="oss-card-bottom">
                          <a class="oss-card-button btn" role="button" href="{{ .Permalink }}">See all sessions</a>
                        </div>
                      {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
