<table class="table table-condensed">

    <thead class="schedule-by-days">
        <tr>
            <th class="time-col"></th>
            <th>Monday    </th>
            <th>Tuesday   </th>
            <th>Wednesday </th>
            <th>Thursday  </th>
            <th>Friday    </th>
        </tr>
    </thead>
    <tbody>
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "KN-0"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "KN-1"  )}}

        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-1"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "BK-1"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "LD"    )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "LD-1"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "LT-1"  )}}

        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-2"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-2-2"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-2-4"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "BK-2"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "LT-2"  )}}

        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-3"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "BK-3"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "LT-3"  )}}

        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "WS-4"  )}}
        {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "BK-4"  )}}
    </tbody>
</table>