<style>
    .time-col { min-width:50px;}
</style>

<table class="table table-condensed ">
    <thead class="schedule-by-days">
        <tr>
            <th class="time-col"></th>
            <th>Monday    </th>
            <th>Tuesday   </th>
            <th>Wednesday </th>
            <th>Thursday  </th>
            <th>Friday    </th>
        </tr>
    </thead>
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "KN-1" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "KN-2" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "AM-1" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "PM-1" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "PM-2" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "PM-3" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "Eve-1" )}}
    {{ partial "schedule/track-tr-time.html" (dict "self" .self "pages" .pages "time" "Eve-2" )}}
</table>

{{ partial "schedule/no-mappings-for-day.html" . }}

<hr/>


