{{ $pages   := where .self.Site.Pages ".Params.track" .title }}

<p>Total sessions for this track: <span class="badge">{{ len $pages }}</span></p>

<!--
<h4>NOTE: unless the sessions have a little lock icon, exact session days/times are not final and can change.</h4>
-->

{{ partial "schedule/table.html" (dict "self" .self "pages" $pages ) }}

<div class="hidden-print">
    {{ partial "schedule/no-mappings-for-day.html" (dict "pages" $pages) }}
    <hr/>
<!--    (back to all track's <a href="/schedule/tracks">schedule</a>)-->
</div>
