{{ define "breadcrumbs" }}

    <div class="inner_main_working_sessions">
        <div class="center_heading">
            <div class="container">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>

{{ end }}

{{ define "content" }}
    <style>


    </style>

    <div class="row">
        <div class="col-lg-12 text-sessions">
            {{ .Content }}
        </div>
    </div>
    <div class="container">
        <h1>Summit (before)</h1>
        {{ range $index, $value:=.Site.Data.accomodation.summit_before }}
        <div class="villa_days">
            <h3>{{ .title }} <span class="villa_type">{{ .type }} , {{ .capacity }} beds, {{.id }}, {{.location}} </span></h3>
            <ul>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Fri-before" "id" .id) }} </li>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Sat-before" "id" .id) }} </li>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Sun-before" "id" .id) }} </li>
            </ul>
        </div>
        {{ end }}

        <h1>Summit</h1>
        {{ range $index, $value:=.Site.Data.accomodation.summit }}
            <div class="villa_days">
                <h3>{{ .title }} <span class="villa_type">{{ .type }} , {{ .capacity }} beds, {{.id }}, {{.location}} </span></h3>
                <ul>
                    <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Mon" "id" .id) }} </li>
                    <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Tue" "id" .id) }} </li>
                    <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Wed" "id" .id) }} </li>
                    <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Thu" "id" .id) }} </li>
                </ul>
            </div>
        {{ end }}

        <h1>Summit (after)</h1>
        {{ range $index, $value:=.Site.Data.accomodation.summit_after }}
        <div class="villa_days">
            <h3>{{ .title }} <span class="villa_type">{{ .type }} , {{ .capacity }} beds, {{.id }}, {{.location}} </span></h3>
            <ul>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Fri-after" "id" .id) }} </li>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Sat-after" "id" .id) }} </li>
                <li class="villa_day">{{ partial "admin/villa-day.html" (dict "pages" $.Site.Pages "day" "Sun-after" "id" .id) }} </li>
            </ul>
        </div>
        {{ end }}
    </div>

{{ end}}
