/* your styles go here */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('#{$base-url}/fonts/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2'), url('#{$base-url}/fonts/Roboto-Slab-Regular.woff') format('woff');
    unicode-range: U + 0000 -00FF, U + 0131, U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074, U + 20 AC, U + 2212, U + 2215;
}



@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Black Regular'), local('Roboto-Black'), url('#{$base-url}/fonts/Roboto-Black.woff') format('woff'), url('#{$base-url}/fonts/Roboto-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('#{$base-url}/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('#{$base-url}/fonts/OpenSans-Light.woff') format('woff'), url('#{$base-url}/fonts/OpenSans-Light.woff2') format('woff2');
}


// @deprecated: use Oswald with font-weight: 500px instead
// see https://fonts.google.com/specimen/Oswald?sidebar.open&selection.family=Oswald
@font-face {
    font-family: 'Oswald Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Oswald Medium'), local('Oswald-Medium'), url('#{$base-url}/fonts/oswald-medium-webfont.woff2') format('woff2'), url('#{$base-url}/fonts/oswald-medium-webfont.woff') format('woff');
    unicode-range: U + 0000 -00FF, U + 0131, U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074, U + 20 AC, U + 2212, U + 2215;
}

// @deprecated: use Oswald with font-weight: 700px instead
@font-face {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Oswald Bold'), local('Oswald-Bold'), url('#{$base-url}/fonts/oswald-bold-webfont.woff2') format('woff2'), url('#{$base-url}/fonts/oswald-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: local('Oswald Regular'), local('Oswald-Regular'), url('#{$base-url}/fonts/oswald-regular-webfont.woff2') format('woff2'), url('#{$base-url}/fonts/oswald-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
    url('#{$base-url}/fonts/Oswald-ExtraLight.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'),
    url('#{$base-url}/fonts/Oswald-Light.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'),
    url('#{$base-url}/fonts/Oswald-Regular.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'),
    url('#{$base-url}/fonts/Oswald-Medium.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
    url('#{$base-url}/fonts/Oswald-SemiBold.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'),
    url('#{$base-url}/fonts/Oswald-Bold.woff2') format('woff2'),
    url('#{$base-url}/fonts/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
