$footer-text-color: #EAEAEA;
$footer-background-color: #333333;

#footer {
    font-family: 'Oswald', "Helvetica Neue", sans-serif ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $footer-background-color;
    h3 {
        font-family: 'Oswald Medium', "Helvetica Neue", sans-serif ;
        font-size: 20px;
        text-transform: uppercase;
        color: $footer-text-color;
    }
    p {
        color: $footer-text-color;
        font-size: 14px;
    }
    img {
        padding-right: 10px;
        padding-bottom: 10px;
        width: 60px;
    }
    .need-help {
        margin-top:5px;
    }

    .subscribe {
        margin-top:25px;
    }
}
/* fix footer sizes on small devices */
@media (max-width: 1200px) {
    #footer {
        img {
            width: 50px;
        }
    }
}

@media (max-width: 767px) {
    #footer {
        h3 {
            font-size: 16px;
            text-align: center;
        }
        p {
            font-size: 12px;
            text-align: center;
        }
        .about-us {
            padding-right: 100px;
            padding-left: 100px;
        }
        .need-help {
            margin-top:10px;
        }

        .subscribe {
            margin-top:10px;
        }
    }
}

@media (max-width: 460px) {
    #footer {
        .about-us {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
