
@media screen {
    .get-your-ticket .ticket {
        margin: 15px;
    }
    .get-your-ticket .ticket-box {
        padding: 40px;
        min-height: 380px;
    }
    .get-your-ticket .title {
        font-size: 45px;
        font-size: 4.5rem;
    }
    .get-your-ticket .ticket-type {
        font-size: 26px;
        font-size: 2.6rem;
    }
    .get-your-ticket .price {
        font-size: 45px;
        font-size: 4.5rem;
    }
    .get-your-ticket .currency {
        font-size: 26px;
        font-size: 2.6rem;
    }
    .get-your-ticket .ticket-duration {
        font-size: 22px;
        font-size: 2.2rem;
    }
    .get-your-ticket .glyphicon {
        font-size: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 950px) {
    .get-your-ticket .ticket {
        margin: 15px;
    }
    .get-your-ticket .ticket-box {
        padding: 30px;
        min-height: 370px;
    }
    .get-your-ticket .title {
        font-size: 43px;
        font-size: 4.3rem;
    }
    .get-your-ticket .ticket-type {
        font-size: 22px;
        font-size: 2.2rem;
    }
    .get-your-ticket .price {
        font-size: 41px;
        font-size: 4.1rem;
    }
    .get-your-ticket .currency {
        font-size: 24px;
        font-size: 2.4rem;
    }
    .get-your-ticket .ticket-duration {
        font-size: 20px;
        font-size: 2rem;
    }
    .get-your-ticket .glyphicon {
        font-size: 15px;
        font-size: 1.5rem;
    }
}

@media (max-width: 840px) {
    .get-your-ticket .ticket {
        padding: 10px;
    }
    .get-your-ticket .ticket-box {
        padding: 20px;
        min-height: 360px;
    }
    .get-your-ticket .title {
        font-size: 41px;
        font-size: 4.1rem;
    }
    .get-your-ticket .ticket-type {
        font-size: 18px;
        font-size: 1.8rem;
    }
    .get-your-ticket .price {
        font-size: 37px;
        font-size: 3.7rem;
    }
    .get-your-ticket .currency {
        font-size: 22px;
        font-size: 2.2rem;
    }
    .get-your-ticket .ticket-duration {
        font-size: 17px;
        font-size: 1.7rem;
    }
    .get-your-ticket .glyphicon {
        font-size: 13px;
        font-size: 1.3rem;
    }
}

@media (max-width: 550px) {
    .get-your-ticket .ticket-box {
        padding: 5px;
        min-height: 385px;
    }
    .get-your-ticket .title {
        font-size: 39px;
        font-size: 3.9rem;
    }
    .get-your-ticket .ticket-type {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .get-your-ticket .price {
        font-size: 33px;
        font-size: 3.3rem;
    }
    .get-your-ticket .currency {
        font-size: 20px;
        font-size: 2rem;
    }
    .get-your-ticket .ticket-duration {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .get-your-ticket .glyphicon {
        font-size: 12px;
        font-size: 1.2rem;
    }
}

.get-your-ticket {
    padding-top: 20px;
    padding-bottom: 80px;
    background: white;
}

.get-your-ticket .title {
    font-family: 'Oswald';
    color: #333333;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.get-your-ticket .ticket-box {
    text-align: center;
    color: white;
}

.get-your-ticket .green-box {
    background-color: #87BB40;
}

.get-your-ticket .green-box .price {
    color: #00549E;
}

.get-your-ticket .green-box .btn-primary {
    background-color: #00549E;
}

.get-your-ticket .blue-box {
    background-color: #00549E;
}

.get-your-ticket .blue-box .price {
    color: #87BB40;
}

.get-your-ticket .blue-box .btn-primary {
    background-color: #87BB40;
}

.get-your-ticket .ticket-type {
    font-family: 'Oswald';
    text-transform: uppercase;
}

.get-your-ticket .price {
    font-family: 'Oswald';
}

.get-your-ticket .currency {
    padding: 5px;
}

.get-your-ticket .ticket-duration {
    padding-bottom: 40px;
}

.get-your-ticket .glyphicon-ok {
    color: white;
    padding-bottom: 20px;
}

.get-your-ticket .item {
    color: white;
    padding-left: 5px;
    font-family: 'Roboto Slab';
}

.get-your-ticket .buy-ticket {
    font-family: 'Oswald';
    padding-bottom: 20px;
    text-align: center;
}

.get-your-ticket .buy-ticket a {
    text-transform: uppercase;
    color: white;
}
