/****************************
***** TRACKS STYLES *********
*****************************/

// 207
$ciso-fore-color: #00559e;
$ciso-back-color: #d9e5f0;
// 193
$cloud-security-fore-color: #23c3f3;
$cloud-security-back-color: #def6fd;
// 85
$content-disarm-fore-color: #86ba40;
$content-disarm-back-color: #edf5e2;
// 6
$covid-fore-color: #C2402F;
$covid-back-color: #F2DDDA;
// 188
$devsecops-fore-color: #1EABC2;
$devsecops-back-color: #CEEDF2;
// 47
$hacking-fore-color: #C2A020;
$hacking-back-color: #FFF4CC;
// 14
$isg-fore-color: #993D1F;
$isg-back-color: #FFECE6;
// 77
$lightning-fore-color: #76991F;
$lightning-back-color: #F7FCE8;
// 250
$misc-fore-color: #7062B3;
$misc-back-color: #E1DCFC;
// 63
$owasp-juice-shop-fore-color: #DDE639;
$owasp-juice-shop-back-color: #F8FADC;
// 301
$owasp-projects-fore-color: #E869E4;
$owasp-projects-back-color: #F2D0F2;
// 167
$owasp-asvs-fore-color: #28F2C7;
$owasp-asvs-back-color: #E1FAF4;
// 92
$security-standards-fore-color: #7DCD3A;
$security-standards-back-color: #EDFAE1;
// 120
$social-fore-color: #549954;
$social-back-color: #E8FCE8;
// 39
$threat-modeling-fore-color: #FAA805;
$threat-modeling-back-color: #F2F1DA;
// 236
$wardleymaps-fore-color: #0B0E89;
$wardleymaps-back-color: #D4D7FA;


.tracks-wrapper {
  .ciso {
    a, .fa, .overtitle {
      color: $ciso-fore-color;
    }
    .button button {
      background-color: $ciso-fore-color;
      color: $ciso-back-color;
    }
    .title {
      background-color: $ciso-back-color;
    }
  }

  .content-disarm {
    a, .fa, .overtitle {
      color: $content-disarm-fore-color;
    }
    .button button {
      background-color: $content-disarm-fore-color;
      color: $content-disarm-back-color;
    }
    .title {
      background-color: $content-disarm-back-color;
    }
  }

  .cloud-security {
    a, .fa, .overtitle {
      color: $cloud-security-fore-color;
    }
    .button button {
      background-color: $cloud-security-fore-color;
      color: $cloud-security-back-color;
    }
    .title {
      background-color: $cloud-security-back-color;
    }
  }

  .covid {
    a, .fa, .overtitle {
      color: $covid-fore-color;
    }
    .button button {
      background-color: $covid-fore-color;
      color: $covid-back-color;
    }
    .title {
      background-color: $covid-back-color;
    }
  }

  .devsecops {
    color: $devsecops-fore-color;
    background-color: $devsecops-back-color;
    a, .fa, .overtitle {
      color: $devsecops-fore-color;
    }
    .button button {
      background-color: $devsecops-fore-color;
      color: $devsecops-back-color;
    }
    .title {
      background-color: $devsecops-back-color;
    }
  }

  .hacking {
    color: $hacking-fore-color;
    background-color: $hacking-back-color;
    a, .fa, .overtitle {
      color: $hacking-fore-color;
    }
    .button button {
      background-color: $hacking-fore-color;
      color: $hacking-back-color;
    }
    .title {
      background-color: $hacking-back-color;
    }
  }

  .isg {
    color: $isg-fore-color;
    background-color: $isg-back-color;
    a, .fa, .overtitle {
      color: $isg-fore-color;
    }
    .button button {
      background-color: $isg-fore-color;
      color: $isg-back-color;
    }
    .title {
      background-color: $isg-back-color;
    }
  }

  .lightning {
    color: $lightning-fore-color;
    background-color: $lightning-back-color;
    a, .fa, .overtitle {
      color: $lightning-fore-color;
    }
    .button button {
      background-color: $lightning-fore-color;
      color: $lightning-back-color;
    }
    .title {
      background-color: $lightning-back-color;
    }
  }

  .misc {
    color: $misc-fore-color;
    background-color: $misc-back-color;
    a, .fa, .overtitle {
      color: $misc-fore-color;
    }
    .button button {
      background-color: $misc-fore-color;
      color: $misc-back-color;
    }
    .title {
      background-color: $misc-back-color;
    }
  }

  .owasp-juice-shop {
    color: $owasp-juice-shop-fore-color;
    background-color: $owasp-juice-shop-back-color;
    a, .fa, .overtitle {
      color: $owasp-juice-shop-fore-color;
    }
    .button button {
      background-color: $owasp-juice-shop-fore-color;
      color: $owasp-juice-shop-back-color;
    }
    .title {
      background-color: $owasp-juice-shop-back-color;
    }
  }

  .owasp-projects {
    color: $owasp-projects-fore-color;
    background-color: $owasp-projects-back-color;
    a, .fa, .overtitle {
      color: $owasp-projects-fore-color;
    }
    .button button {
      background-color: $owasp-projects-fore-color;
      color: $owasp-projects-back-color;
    }
    .title {
      background-color: $owasp-projects-back-color;
    }
  }

  .owasp-asvs {
    color: $owasp-asvs-fore-color;
    background-color: $owasp-asvs-back-color;
    a, .fa, .overtitle {
      color: $owasp-asvs-fore-color;
    }
    .button button {
      background-color: $owasp-asvs-fore-color;
      color: $owasp-asvs-back-color;
    }
    .title {
      background-color: $owasp-asvs-back-color;
    }
  }

  .security-standards {
    color: $security-standards-fore-color;
    background-color: $security-standards-back-color;
    a, .fa, .overtitle {
      color: $security-standards-fore-color;
    }
    .button button {
      background-color: $security-standards-fore-color;
      color: $security-standards-back-color;
    }
    .title {
      background-color: $security-standards-back-color;
    }
  }

  .social {
    color: $social-fore-color;
    background-color: $social-back-color;
    a, .fa, .overtitle {
      color: $social-fore-color;
    }
    .button button {
      background-color: $social-fore-color;
      color: $social-back-color;
    }
    .title {
      background-color: $social-back-color;
    }
  }

  .threat-modeling {
    color: $threat-modeling-fore-color;
    background-color: $threat-modeling-back-color;
    a, .fa, .overtitle {
      color: $threat-modeling-fore-color;
    }
    .button button {
      background-color: $threat-modeling-fore-color;
      color: $threat-modeling-back-color;
    }
    .title {
      background-color: $threat-modeling-back-color;
    }
  }

  .wardleymaps {
    color: $wardleymaps-fore-color;
    background-color: $wardleymaps-back-color;
    a, .fa, .overtitle {
      color: $wardleymaps-fore-color;
    }
    .button button {
      background-color: $wardleymaps-fore-color;
      color: $wardleymaps-back-color;
    }
    .title {
      background-color: $wardleymaps-back-color;
    }
  }

}



.tracks {
  &-section {
    font-family: 'Oswald', "Helvetica Neue", sans-serif;
    padding-top: 140px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 56px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .table {
      margin-top: 60px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 33% 33% 33%;

      .fa {
        padding-top: 3px;
        font-size: 1.2em;
      }

      &-item {
        margin-bottom: 45px;
        background-color: $main-inverse-text-color;

        .list {
          margin-top: 30px;
          margin-bottom: 60px;
          padding-left: 10px;
          padding-right: 10px;
          list-style-type: none;
          a {
            line-height: 1.3em;
            font-size: 0.9em;
            color: $tracks-paragraph-text-color;
          }

          .item {
            display: grid;
            grid-template-columns: 10px auto;
            grid-gap: 5px;
            margin-bottom: 12px;
            font-size: 28px;
            font-weight: 400;
          }
        }

        .button {
          position: absolute;
          bottom: 10px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;

          button {
            padding: 7px 36px 4px 36px;
            border: none;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 30px;
            //color: $main-inverse-text-color;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }
        }

        border: 1px solid $alt-active-color;
        position: relative;

        .title {
          padding: 13px 10px 5px 10px;
          width: 85%;
          top: -35px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          font-size: 34px;
          font-weight: 500;
          text-transform: uppercase;
          transform: translateY(-30px);
        }

        .overtitle {
          text-align: center;
          font-size: 20px;
          font-weight: 300;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }

      }
    }
  }
}


/**************
*****MEDIA*****
***************/


/*** XL-Breakpoint ***/

@media screen and (max-width: $xl-breakpoint) {

  .tracks {
    &-wrapper {
      .title {
        font-size: 50px;
      }

      .table {
        &-item {
          .title {
            font-size: 28px;
          }

          .overtitle {
            font-size: 18px;
          }

          .list {
            .item {
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}

/*** LG-Breakpoint ***/

@media screen and (max-width: $lg-breakpoint) {

  .tracks {
    &-wrapper {
      .table {
        grid-gap: 15px;
        grid-template-columns: 50% 50%;
      }
    }
  }

}


/*** MD-Breakpoint ***/

@media screen and (max-width: $md-breakpoint) {
  .tracks {
    &-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 345px;

      .table {
        grid-gap: 15px;
        grid-template-columns: 100%;
      }
    }
  }
}
