<div class="sessions">
    <table class="table_section">
        <thead>
        <tr><th style="width:300px">Title</th>
        <th>Session Type</th>
        <th>Day (June 2021)</th>
        <th>When</th>
        <th>Delivered by</th>
        <th>Track</th>
        <th>Register</th>
        </tr>
        </thead>
        {{ range sort . ".Params.title" }}
            {{if not .Params.hey_summit}}
                {{ partial "training/table-row.html" . }}
            {{ end }}
        {{ end}}
    </table>
</div>
