{{ define "nav" }}
<header class="full-bg background-schedule">

    <div class="dark-mask"></div>

    {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_working_sessions">
    <div class="center_heading">
        <div class="container">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
</div>

{{ end }}

{{ define "content" }}


<div class="featured-ws">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-sessions">
                {{ .Content }}
            </div>
        </div>

        {{ $title := "Glasswall" }}

        {{ range .Site.Pages }}
            {{ if .Params.Topics}}
                {{ $page := .}}
                {{ if eq (printf "%T" $page.Params.Topics) "[]string" }}
                    {{ range  $page.Params.Topics}}
                        {{ if eq . $title }}
                            {{ $.Scratch.Add "pages" (slice $page) }}
                        {{ end }}
                    {{ end }}
                {{ else }}
                    {{ if in $title .Params.topics }}
                        {{ $.Scratch.Add "pages" (slice $page) }}
                    {{ end }}
                {{end }}
            {{ end }}
        {{ end}}

        {{ $sessions := $.Scratch.Get "pages" }}

        {{ $week_one :=  where $sessions ".Site.Pages.when_week" "one"}}
        {{ $week_one_days := .Site.Data.schedule.days.week_one}}
        {{ $week_two_days := .Site.Data.schedule.days.week_two}}
        {{ $summit_days   := .Site.Data.schedule.days.summit}}

        {{ $title := "Training - week one (1st - 5th June)" }}
        {{ partial "schedule/table/table.html" (dict "self" . "pages" $sessions "valid_days" $week_one_days "title" $title )}}

        {{ $title := "Training - week two (8th - 12th June)" }}
        {{ partial "schedule/table/table.html" (dict "self" . "pages" $sessions "valid_days" $week_two_days "title" $title )}}

        {{ $title := "Summit Week (15th - 19th June)" }}
        {{ partial "schedule/table/table.html" (dict "self" . "pages" $sessions "valid_days" $summit_days "title" $title )}}


        <!--        {{ partial "schedule/track.html" (dict "self" . "title" .Params.title )}}-->

        <h2>Sessions</h2>
        <div class="hidden-print">
            <div class="row">
                <div class="col-xs-0"></div>
                <div class="col-xs-12">

                    {{ partial "training/table-all" $sessions }}

                    <h3>Please help</h3>
                    <p>
                        If you want to be involved please make the changes on GitHub and send a Pull Request with your ideas.</p>
                    <p>If you feel that there is missing working session that we NEED to have at the Summit, please create it.</p>

                </div>
            </div>
            <h3>Metadata</h3>
            <table class="table table-condensed">
                <tr>

                    <th>Organizers</th>
                    <td>
                        {{ partial "utils/titles-with-link.html" (dict "this" . "name" .Params.title "value" .Params.organizers)   }}
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div><

{{ end }}
