{{ define "content" }}

<section class="mid_wrap" >

    <div class="featured-ws">
        <div class="container">

            {{ .Content }}

            <ul>
              {{ range where (where .Data.Pages ".Params.type" "outcome") ".Params.title" "ne" "" }}
                <li><a href="{{.Permalink}}">{{ .Title }}</a> ({{ partial "outcomes/status-badge.html" . }})</li>
            {{ end }}
            </ul>

        </div>
    </div>

    <div class="featured-ws">

        <p>You can check out the outcomes from our previous summits.</p>
        <p><a href="https://2019.open-security-summit.org/outcomes/" class="btn btn-template-main"> See the 2019 summit outcomes</a></p>
        <p><a href="https://2018.open-security-summit.org/outcomes/" class="btn btn-template-main"> See the 2018 summit outcomes</a></p>
    </div>


</section>
{{ end}}
