{{ $videos := sort .Site.Data.videos.list }}
<section class="video-section">
  <div class="container container-xl">
    <div class="section-title">SUMMIT VIDEOS</div>
    <div class="video-gallery">
      {{ range where $videos "session" "eq" "summit" }}
        {{ partial "video/item.html" . }}
      {{ end }}
    </div> 
    <div class="pagination">
      <div class="arrow-left"><img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-left" class="arrow-img"></div>
      <div class="pagination-number">01</div>
      <div class="arrow-right">
        <img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-right" class="arrow-img"></div>
    </div>
    <div class="section-title">TRAINING VIDEOS</div>
    <div class="video-gallery">
      {{ $paginator := .Paginate (where $videos "session" "eq" "training") }}
      {{ template "_internal/pagination.html" . }}
      {{ range $paginator }}
        {{ partial "video/item.html" . }}
      {{ end }}
    <div class="pagination">
      <div class="arrow-left"><img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-left" class="arrow-img"></div>
      <div class="pagination-number">01</div>
      <div class="pagination-number">02</div>
      <div class="pagination-number">03</div>
      <div class="arrow-right"><img src="{{ .Site.BaseURL }}/img/arrows/arrow.svg" alt="arrow-right" class="arrow-img"></div>
    </div>
  </div>
</section>
