<div class="video-item">
    <div class="source">
      <iframe height="100%" width="100%" allowFullScreen src="https://www.youtube.com/embed/{{ .video }}"
                                                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ .video }}?autoplay=1>
          <img src=https://img.youtube.com/vi/{{ .video }}/hqdefault.jpg
          alt='{{ .description }}'><span>▶</span></a>"
       frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
       allowfullscreen></iframe>
    </div>
    <div class="words">
      <div class="author">{{ .author }}</div>
      <div class="description">{{ .description }} ({{ .date }})</div>
    </div>
  </div>
