{{ template "_internal/google_analytics.html" . }}
<!--<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

{{ $front := resources.Get "scripts/front.js" }}
{{ $tabs := resources.Get "scripts/tabs.js" }}
{{ $bundle_js := slice $front $tabs | resources.Concat "js/bundle.js" }}
{{ $bundle := $bundle_js | minify | fingerprint }}

<script src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>


<script>
    // this hooks is being used for handling session entries like personal pages, or session description inside of <a> tag
    // see ie. /schedule
    function gotoLink(e) {
        getUrlFromTarget(e, (url) => {
            e.preventDefault();
            window.location.href = url;
        })
    }

    function gotoLinkBlank(e) {
        getUrlFromTarget(e, (url) => {
            window.open(url, '_blank')
        })
    }

    function getUrlFromTarget(e, cb) {
        var target = e.target;
        var currentTarget = e.currentTarget;
        var url = target && target.dataset.url || currentTarget && currentTarget.dataset.url;
        if ( url ) {
            cb.call(this, url);
        }
    }

    function toggleInTableCell(e, doPop) {
        var target = e.currentTarget;
        var url = target && target.getAttribute('data-url');
        var scope = target.parentNode.parentNode.parentNode;
        var images = $.find('img', scope).filter((img) => img.alt);
        if ( images.length > 1 ) {
            var doAction = doPop ? 'addClass' : 'removeClass';
            for ( let i = 0; i < images.length; i++ ) {
                var image = images[i];
                var imageContainer = image.parentNode;
                if ( image.getAttribute('data-url') === url ) {
                    $(imageContainer)[doAction]('organizer-icon-hovered');
                } else {
                    $(imageContainer)[doAction]('organizer-icon-dimmed');
                }
            }
        }
    }

    function toggleInHomePage(e, doPop) {
        var target = e.currentTarget;
        var url = target && target.href;
        var scope = target.parentNode.parentNode.parentNode;
        var images = $.find('img', scope).filter((img) => img.alt);

        if ( images.length ) {
            var doAction = doPop ? 'addClass' : 'removeClass';
            for ( let i = 0; i < images.length; i++ ) {
                var image = images[i];
                var imageContainer = image.parentNode;
                if ( imageContainer.href === url ) {
                    $(imageContainer)[doAction]('organizer-icon-hovered');
                } else {
                    $(imageContainer)[doAction]('organizer-icon-dimmed');
                }
            }
        }

    }

    function mouseEnterInTableCell(e) {
        toggleInTableCell(e, true)
    }

    function mouseleave(e) {
        toggleInTableCell(e, false)
    }

    function mouseEnterInHomePage(e) {
        toggleInHomePage(e, true)
    }

    function mouseLeaveInHomePage(e) {
        toggleInHomePage(e, false)
    }


    $('.track-watch-zoom').click(gotoLinkBlank);
    $('.track-watch-youtube').click(gotoLinkBlank);
    // link to organizer page in table cell
    $('.img-circle').click(gotoLink);
    // another link to organizer page in table cell + hide/show organizer's avatar on links hover
    $('.schedule-session-organizer').click(gotoLink).mouseenter(mouseEnterInTableCell).mouseleave(mouseleave);
    // hide/show organizer's avatar on links hover on Home page
    $('.body-author-link').mouseenter(mouseEnterInHomePage).mouseleave(mouseLeaveInHomePage);


    // Global variable keep all day's sessions
    const dayScheduleMap = {};
    let scheduleDay = undefined;
    const LIVE_CHECK_INTERVAL_MS = 30000;
    const reDoubleDigits = /(\d){2}/g;

    /**
     * Return
     * @param sessionTime
     * @returns {*[]|*}
     */
    function parseScheduleTime(sessionTime) {
        const hoursMinutes = sessionTime.match(reDoubleDigits)
        if ( hoursMinutes.length === 4 ) {
            return hoursMinutes
        }

        return [];
    }

</script>

