{{ $app_id := "TJCJ85QKG9" }}
{{ $search_id := "57ac8604f449c75d1547840cb38aff0b"}}
{{ $index_name := "open-security-summit"}}



<link   rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.css"
/>
<link   rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch-theme-algolia.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1"></script>



<div id="search-box">
    <!-- SearchBox widget will appear here -->
</div>

<div id="hits">
    <!-- Hits widget will appear here -->
</div>

<script>

    // Set Algolia options
    const options = {
        appId: "{{$app_id}}",
        apiKey: "{{$search_id}}",
        indexName: "{{$index_name}}",
        hitsPerPage: 10,
        routing: true,
    };

    // Parse options to instantsearch
    const search = instantsearch(options);
</script>


{{ safeHTML `

<script>


    // initialize SearchBox
    search.addWidget(
      instantsearch.widgets.searchBox({
        container: "#search-box",
        placeholder: "Search OSS",
        reset: false,
        cssClasses: {
          root: "Search-box-container",
          input: "Search-box-input",
        },
      })
    );

    var hitTemplate =
          '<br/><a href="{{ permalink }}" class="List-item">' +
            '<div class="List-title">{{{_highlightResult.title.value}}}</div>' +
          "</a>" +
          '<div class="List-summary">{{{summary}}}</div>';
    // initialize hits widget
    search.addWidget(
      instantsearch.widgets.hits({
        // define container
        container: "#hits",
        // add classes for styling
        cssClasses: {
          root: "Search-hits",
          empty: "Search-hits--empty",
        },
        templates: {
          // call custom hit template
          item: hitTemplate,
          empty: 'Didn’t find any results for the search  <em>"{{query}}"</em>',
        },
      })
    );
    // make all this stuff happen
    search.start();

</script>
` }}
