<section class="tracks-section">
    <div class="container container-xl">
        <div class="tracks-wrapper">
            <div class="title">SUMMIT TRACKS</div>

            <div class="table">
                {{ $styles := (slice "ciso" "cloud-security" "content-disarm" "covid" "devsecops" "hacking" "isg" "lightning" "misc" "owasp-asvs" "owasp-juice-shop" "owasp-projects" "security-standards" "social" "threat-modeling" "wardleymaps") }}
                {{ $tracks := where .Site.Pages ".Params.type" "track" }}

                {{ range $index, $track := $tracks }}
                    {{ $style := index $styles $index}}
                    {{ partial "tracks/track.html" (dict "track" $track "style" $style ) }}
                {{ end }}
            </div>

        </div>
    </div>
</section>
