<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div id="all" class="dark-mask">
            <header class="full-bg background-home">
              {{ partial "nav.html" . }}
        </header>

      <div class="container-managed xxl">
        <div class="home-page">

            {{ partial "home-page/hero-mini-summit.html" . }}
            {{ partial "home-page/join-next-summit.html" . }}
            {{ partial "home-page/schedule.html" . }}
            {{ partial "home-page/container/photo-gallery.html" . }}
            {{ partial "home-page/testimonials.html" . }}
            {{ partial "home-page/information.html" . }}
            {{ partial "home-page/highlights.html" . }}
            {{ partial "home-page/previous-summits-2021.html" . }}
        </div>
      </div>

        {{ partialCached "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partialCached "scripts.html" . }}

  </body>
</html>
