<section class="bar background-white no-mb">

    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Featured Tracks</h1>
        </div>

        <div class="row">
            <div class="oss-track-cards-container">
        {{ $tracks := where .Site.Pages ".Params.type" "track" }}
        {{ range $tracks }}

            {{ $track_name := .Title }}

            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="oss-card-small">
                <div class="oss-card-small-title">
                  <a href="{{ .Permalink }}">
                    <h3>{{ truncate 45 .Title | upper}}</h3>
                  </a>
                </div>
                <div class="oss-card-small-body">
                  <div class="featured">
                    <ul class="featured">
                        {{ $featured_sessions := where (where (where .Site.Pages ".Params.track" .Title) ".Params.type" "!=" "outcome" ) ".Params.featured" "eq" true }}
                        {{ range $featured_sessions }}
                            <li class="featured">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                    <div class="oss-card-small-bottom">
                      <a href="{{ .Permalink }}" class="btn oss-card-small-button">More information</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        {{ end }}
        </div>
        <div class="row text-center">
            <div class="col-md-offset-4 col-md-4">
              <div class="oss-card-small-bottom">
                <a href="/tracks/" class="btn oss-card-small-button">See all tracks</a>
              </div>
          </div>
        </div>
    </div>
  </div>
</section>
