<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h2 class="no-margin">Latest Outcomes</h2>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ .Site.BaseURL }}/img/blocks/idea.png" />
                </div>
                <div class="col-md-10">
                    <div class="row pull-left">
                        <h3 class="home-outcome">The Hits</h3>
                    </div>
                    <div class="row">
                    {{ range $index, $element := first 6 (shuffle (where (where (where $.Site.Pages ".Params.type" "outcome") ".Params.title" "!=" "") ".Params.featured" "yes"))}}
                        {{ if eq (mod $index 2) 0 }}</div><div class="row">{{ end }}
                        <div class="col-md-5 line-below">
                            <div class="row">
                                <h4 class="home-outcome pull-left">{{ $element.Title }}</h4>
                            </div>
                            <div class="row">
                                <p class="home-outcome pull-left">{{/* $element.Content | truncate 20 | plainify */}}
                                  being worked on</p>
                            </div>
                        </div>
                    {{ end }}
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <div class="col-md-offset-4 col-md-4">
                  <div class="oss-card-small-bottom">
                    <a href="/outcomes/" class="btn oss-card-small-button">See all outcomes</a>
                  </div>
              </div>
            </div>
        </div>

    </div>
</section>
