<section class="bar background-white no-mb">

    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Summit participants reactions</h1>
        </div>

        <div class="row">
        {{ range  ( where .Site.Data.home.reactions.cards ".title" "!=" "empty" ) }}
        <div class="col-lg-3 col-md-3 col-sm-12"  style="height:450px;">
            <div class="oss-card-small">
                <div class="oss-card-small-title"  style="height:150px;">
                        <h3>{{ .title | upper }}</h3>
                    <cite>" {{ .quote }} "</cite>

                </div>
                <div class="oss-card-small-body">
                    <div class="">

                        <iframe width="240" height="230" src="https://www.youtube.com/embed/{{ .youtubeid }}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="oss-card-small-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        <!--</div>-->
        <!--<div class="row text-center">-->
            <!--<div class="col-md-offset-4 col-md-4">-->
              <!--<div class="oss-card-small-bottom">-->
                <!--<a href="/reactions/" class="btn oss-card-small-button">See all reactions</a>-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->

    </div>
</section>
