<section class="bar background-white no-mb">
    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Summit 2019 : 3-7 June in London/Luton <br><br>Day tickets still available <br/></h1>
            <br/>
            <br/>
            <h3>(until 23pm on Wednesday)</h3>

            <br/><br/>
            <b>Buy your <a href="/tickets/">tickets now</a> and don't miss being part of this amazing event!</b>
    </div>

</section>
