{{ define "nav" }}
<header class="full-bg background-teams">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_participants">
  <div class="center_heading">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

<div>


    <div class="participant-main-section">
      <img src="{{.Params.image}}" />

      <p>
        {{ .Content }}
      </p>

      <h3>Sponsored Projects</h3>
      {{ $pages := .Site.Pages}}
      {{ if .Params.sponsored_projects}}
        <ul>
          {{ range .Params.sponsored_projects}}
            {{ $projects := (where (where $pages ".Params.title" . ) ".Params.type" "project") }}
            {{ range $projects }}
              <li><a href="{{.Permalink}}">{{.Params.Title}}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}

      <h3>Members</h3>
      {{ $pages := .Site.Pages}}
      {{ if .Params.members}}
      <ul>
        {{ range .Params.members}}
        {{ $projects := (where $pages ".Params.title" . )}}
        {{ range $projects }}
        <li><a href="{{.Permalink}}">{{.Params.Title}}</a></li>
        {{ end }}
        {{ end }}
      </ul>
      {{ end }}

    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ partial "edit-link" . }}
        </div>
      </div>
    </div>

</div>
{{ end }}
