<h3>{{ .sponsor}} </h3>

{{ $pages := .self.Scratch.Get .sponsor }}
{{ $self  := .self                      }}
{{ range  $pages                        }}
    {{ $page := . }}
    {{range split  .Params.venue ","}}
        {{ $day :=  (add "venue_" (trim . " " )) }}
        {{ $self.Scratch.Add $day (slice $page )}}
    {{ end }}
    {{range split  .Params.night_day ","}}
        {{ $day :=  (add "night_" (trim . " " )) }}
        {{ $self.Scratch.Add $day (slice $page )}}
    {{ end }}
{{ end }}

<h4>Venue tickets (per day)</h4>
<table class="table_section">
    <thead>
    <tr>
        <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>TBC</th>
    </tr>
    </thead>
    <tr><td>{{ len (default "" ($self.Scratch.Get "venue_Mon")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "venue_Tue")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "venue_Wed")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "venue_Thu")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "venue_Fri")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "venue_TBC")) }}</td></tr>
</table>



<h4>Night required (per day)</h4>
<table class="table_section">
    <thead>
    <tr>
        <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>TBC</th>
    </tr>
    </thead>
    <tr><td>{{ len (default "" ($self.Scratch.Get "night_Mon")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "night_Tue")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "night_Wed")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "night_Thu")) }}</td>
        <td>{{ len (default "" ($self.Scratch.Get "night_TBC")) }}</td></tr>

</table>

{{ $self.Scratch.Delete "venue_Mon" }}
{{ $self.Scratch.Delete "venue_Tue" }}
{{ $self.Scratch.Delete "venue_Wed" }}
{{ $self.Scratch.Delete "venue_Thu" }}
{{ $self.Scratch.Delete "venue_Fri" }}
{{ $self.Scratch.Delete "venue_TBC" }}

{{ $self.Scratch.Delete "night_Mon" }}
{{ $self.Scratch.Delete "night_Tue" }}
{{ $self.Scratch.Delete "night_Wed" }}
{{ $self.Scratch.Delete "night_Thu" }}
{{ $self.Scratch.Delete "night_TBC" }}

<h4>All data (for {{ .sponsor}})</h4>

<table class="table_section">
    <thead>
        <tr>
            <th>Sponsor</th>
            <th>Name</th>
            <th>Days at Venue</th>
            <th>Nights required</th>
        </tr>
    </thead>
    {{ range  $pages               }}
        <tr>
            <td>{{ .Params.sponsored_by}}</td>
            <td>{{ partial "utils/title-to-link" (dict "this" $self "title" .Params.title ) }}</td>
            <td>{{ .Params.venue}}</td>
            <td>{{ .Params.night_day}}</td>
        </tr>
    {{ end }}
</table>

<hr>
