{{ $this       := .this }}
{{ $valid_days := $this.Site.Data.schedule.next_event.days              }}
{{ $times      := $this.Site.Data.schedule.days.times                   }}
{{ $days       := $this.Site.Data.schedule.days.days_next_summit        }}

{{ $pages      := .pages }}

<h2>{{.title}}</h2>

<table class="table table-condensed">

    <thead class="schedule-by-days">
        <tr>
            <th class="time-col"></th>
            {{ range $days }}
            <th>{{ .day }} - {{ .date }}</th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range $times }}
            {{ partial "schedule/table/track-tr-time.html" (dict "self" $this "pages" $pages "valid_days" $valid_days "time" . )}}
        {{ end }}
    </tbody>
</table>