{{ $this       := .this }}
{{ $valid_days := $this.Site.Data.schedule.next_event.days              }}
{{ $times      := $this.Site.Data.schedule.days.times                   }}

{{ $pages      := .pages }}

<h2>{{.title}}</h2>

<table class="table table-condensed">

    <thead class="schedule-by-days">
        <tr>
            <th class="time-col"></th>
            <th>Monday    - 12th</th>
            <th>Tuesday   - 13th</th>
            <th>Wednesday - 14th</th>
            <th>Thursday  - 15th</th>
            <th>Friday    - 16th</th>
        </tr>
    </thead>
    <tbody>
        {{ range $times }}
            {{ partial "schedule/table/track-tr-time.html" (dict "self" $this "pages" $pages "valid_days" $valid_days "time" . )}}
        {{ end }}
    </tbody>
</table>