{{ $valid_days := .valid_days}}
{{ $self := .self }}
{{ range $valid_days }}
    {{ $.self.Scratch.Delete . }}
{{ end }}
{{ $.self.Scratch.Set "has-session" false }}

{{ range .pages }}
    {{ if eq .Params.when_time $.time }}
        {{ $days := split .Params.when_day "," }}
        {{ $page := . }}
        {{ range $days }}
            {{if in $valid_days $page.Params.when_day }}
                {{ $.self.Scratch.Add . (slice $page) }}
                {{ $.self.Scratch.Set "has-session" true }}
            {{ end}}
        {{ end }}
    {{ end }}
{{ end }}


{{if  $.self.Scratch.Get "has-session" }}
    <tr class="tr-schedule">
        <td>
            {{ partial "schedule/table/time.html" (dict "self" .self "time" .time )}}
        </td>
        {{ range $valid_days }}
            <td>{{ partial "schedule/table/track-cell.html" (dict "self" $self "day"  . )}}</td>
        {{ end }}
    </tr>
{{ end }}
