{{ $this := . }}

{{ $summit_days      := .Site.Data.schedule.next_event.days              }}
{{ $title            := .Site.Data.schedule.next_event.title             }}
{{ $sessions         := partial "params/next-event-sessions.html" $this  }}
{{ $days_next_summit := $this.Site.Data.schedule.days.days_next_summit   }}

<!--Table view-->
{{ partial "schedule/table/table.html" (dict "this" . "pages" $sessions "valid_days" $summit_days "title" $title )}}

<!--List view-->



<div class="alert alert-warning">All times bellow are GMT (London time)</div>
{{ $title := ""}}

{{ partial "schedule/list/days.html" (dict "this" $this "days" $days_next_summit "title" $title) }}
