
{{ $this := .this}}

{{ $this.Scratch.Set "has-session" false }}

{{ range .sessions }}
    {{ if .Params.hey_summit}}
        {{ $this.Scratch.Set "has-session" true }}
    {{ end }}
{{ end }}

{{ if $this.Scratch.Get "has-session" }}

    <div class="schedule-day-block">
        <p class="schedule-day">{{ .day }} - {{.date}} June</p>
        {{ range sort .sessions ".Params.when_time"}}
            {{ if .Params.hey_summit}}

                {{ $when_time := index $this.Site.Data.schedule.times .Params.when_time }}
                {{ $organizers := partial "params/organizers.html" . }}
                {{ $this.Scratch.Set "how_many" 1 }}
                {{ if $organizers }}
                    {{ $this.Scratch.Set "how_many" ( len $organizers ) }}
                {{ end }}
                {{ if gt ($this.Scratch.Get "how_many") 4 }}
                    {{ $this.Scratch.Set "how_many" 3 }}
                {{ else if gt ($this.Scratch.Get "how_many") 2 }}
                {{ $this.Scratch.Set "how_many" 2 }}
                {{ end }}
                {{ $how_many := $this.Scratch.Get "how_many" }}

                <div class="schedule-session">
                    <a class="schedule-link how-many-participants-{{ $how_many }}" href="{{.Permalink}}">
                        <div class="schedule-session-hours">{{$when_time}}</div>
                        <div class="schedule-session-title">
                            <div class="track">
                                <div class="track-badge">{{.Params.track}}</div>
                                {{ partial "home-page/schedule/zoom.html" ( dict "this" . "href" false )  }}
                            </div>
                            <h2 class="schedule-session-description">{{.Params.title}}</h2>

                            <div class="schedule-session-organizers">{{ partial "schedule/list/organizers-links.html" ( dict "this" . "organizers" $organizers) }}</div>
                        </div>
                        <div class="schedule-session-person">
                            {{ partial "schedule/list/organizers-images.html" ( dict "this" . "organizers" $organizers) }}
                        </div>
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>

{{ end }}
