{{ $this  := .this}}
{{ $days  := .days}}

{{ $pages         := partial "params/next-event-sessions.html" $this  }}

{{ if  $this.Scratch.Get "has-session" }}
    {{ if .title}}
        <div class="container schedule-session-group">
            <div class="row">
            <h2>{{upper .title}}</h2>
        </div>
      </div>
    {{ end }}

    {{ with .days}}
        {{ range sort . "order"}}
            {{ $sessions := where $pages ".Params.when_day" .key }}
            {{ partial "schedule/list/day.html" (dict "this" $this "sessions" $sessions "day" .day "date" .date "month" .month) }}
        {{ end}}
    {{ end}}
{{ end}}