{{ define "nav" }}
<header class="full-bg background-schedule">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_working_sessions">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}


    <div class="featured-ws">
      <div class="container">
        {{ partial "widgets/clues.html" . }}
        <div class="row">
          <div class="col-lg-12 text-sessions">
            {{ .Content }}
          </div>
        </div>
        
        <h1>All {{ .Params.Title }} Sessions</h1>

        {{ $sessions  := where .Site.Pages ".Params.track"  .Params.title  }}
        {{ partial "sessions/simple-table-all-columns.html" $sessions }}


{{ end }}
