<section id="sponsors">
  <div class="container container-xl">
  <div class="sponsorship_options">
      <div class="container-fluid">
        <div class="row">
          <div class="section-overtitle sponsor-overtitle">SPONSHORSHIP</div>
          <p  class="section-title sponsor-title">SPONSORSHIP OPPORTUNITIES 2021</p>
          <!--        <p>If you are interested in one of the sponsorships packages below please <a href="mailto:info@opensecsummit.org">contact us</a>-->
          <!--        </p>-->
        </div>
        <div class="packages row">
          <div class="package-wrapper col-xs-12 col-md-6 col-lg-4">
            <div class="package gold"><h3 class="package-level">Gold</h3>
              <div class="cost">£5,000</div>
              <div class="package-adv">
                <div class="package-adv-head">50 tickets</div>
                <div class="package-adv-for">Training or Summit</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">20 tickets</div>
                <div class="package-adv-for">for sponsor</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">25 trees</div>
                <div class="package-adv-for">for good causes</div>
              </div>
            </div>
          </div>

          <div class="package-wrapper col-xs-12 col-md-6 col-lg-4">
            <div class="package silver">
              <h3 class="package-level">Silver</h3>
              <div class="cost">£1,000</div>
              <div class="package-adv">
                <div class="package-adv-head">10 tickets</div>
                <div class="package-adv-for">Training or Summit</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">5 tickets</div>
                <div class="package-adv-for">for sponsor</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">5 trees</div>
                <div class="package-adv-for">for good causes</div>
              </div>
            </div>
          </div>

          <div class="package-wrapper col-xs-12 col-md-6 col-lg-4">
            <div class="package bronze">
              <h3 class="package-level">Bronze</h3>
              <div class="cost">£500</div>
              <div class="package-adv">
                <div class="package-adv-head">5 tickets</div>
                <div class="package-adv-for">Training or Summit</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">3 tickets</div>
                <div class="package-adv-for">for sponsor</div>
              </div>
              <div class="package-adv">
                <div class="package-adv-head">2 trees</div>
                <div class="package-adv-for">for good causes</div>
              </div>
            </div>
          </div>
        </div>
<!--        <button class="sponsors-button">Interested in Sponsorship?</button>-->
      </div>
    </div>
  </div>

</section>
